*.pyc
build
*~
.atom/
.DS_Store
.ipynb_checkpoints/
.cache
.coverage
.coverage.*
coverage.xml
htmlcov
**/gmprocess.egg-info/
.pytest_cache
*.so
docs/
doc_source/_build
doc_source/contents/tutorials/data
doc_source/contents/tutorials/*.log
.vscode/
dask-worker-space/
# Vim tags
tags
