*.pyc
build
*~
.atom/
.DS_Store
.ipynb_checkpoints/
.cache
.coverage
.coverage.*
coverage.xml
htmlcov
.pymon
**/gmprocess.egg-info/
.pytest_cache
*.so
docs/_build
docs/contents/tutorials/data
docs/contents/tutorials/*.log
*code-workspace*
.vscode/
dask-worker-space/
*code-workspace
# Vim tags
tags
public
