interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://earthquake.usgs.gov/earthquakes/feed/v1.0/detail/us20005iis.geojson
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Last-Modified:
      - Wed, 27 Dec 2023 15:16:36 GMT
      Location:
      - /fdsnws/event/1/query?eventid=us20005iis&format=geojson
    status:
      code: 302
      message: Moved Temporarily
- request:
    body: null
    headers:
    method: GET
    uri: https://earthquake.usgs.gov/fdsnws/event/1/query?eventid=us20005iis&format=geojson
  response:
    body:
      string: "{\"type\":\"Feature\",\"properties\":{\"mag\":7,\"place\":\"6 km ESE
        of Kumamoto, Japan\",\"time\":1460737506220,\"updated\":1702916745505,\"tz\":null,\"url\":\"https://earthquake.usgs.gov/earthquakes/eventpage/us20005iis\",\"felt\":111,\"cdi\":9.1,\"mmi\":8.717,\"alert\":\"red\",\"status\":\"reviewed\",\"tsunami\":1,\"sig\":2101,\"net\":\"us\",\"code\":\"20005iis\",\"ids\":\",at00o5oo9v,pt16106053,us20005iis,gcmt20160415162506,iscgem610289055,atlas20160415162506,\",\"sources\":\",at,pt,us,gcmt,iscgem,atlas,\",\"types\":\",cap,dyfi,finite-fault,general-text,ground-failure,impact-link,impact-text,losspager,moment-tensor,origin,phase-data,poster,scitech-link,shakemap,\",\"nst\":null,\"dmin\":0.349,\"rms\":0.85,\"gap\":32,\"magType\":\"mww\",\"type\":\"earthquake\",\"title\":\"M
        7.0 - 6 km ESE of Kumamoto, Japan\",\"products\":{\"cap\":[{\"indexid\":\"1154452\",\"indexTime\":1608122989681,\"id\":\"urn:usgs-product:us:cap:us20005iis:1460738538040\",\"type\":\"cap\",\"code\":\"us20005iis\",\"source\":\"us\",\"updateTime\":1460738538040,\"status\":\"UPDATE\",\"properties\":{\"eventsource\":\"us\",\"eventsourcecode\":\"20005iis\",\"original-signature\":\"MCwCFEGTdLWsJEwz35fAc4Fkck6YehknAhQSucJEibIP6Kt4b/wVStmdtvzyQw==\",\"original-signature-version\":\"v1\"},\"preferredWeight\":8,\"contents\":{\"contents.xml\":{\"contentType\":\"application/xml\",\"lastModified\":1361473072000,\"length\":194,\"url\":\"https://earthquake.usgs.gov/product/cap/us20005iis/us/1460738538040/contents.xml\",\"sha256\":\"r45CiVHL4ekpD21D++L5uJ71Gyb7n1XuhQEP92ilkKM=\"},\"capalert.xml\":{\"contentType\":\"application/xml\",\"lastModified\":1460738703000,\"length\":5242,\"url\":\"https://earthquake.usgs.gov/product/cap/us20005iis/us/1460738538040/capalert.xml\",\"sha256\":\"rROnsSRxATII41tXtY+BCpwvy3bopKYap+9qB8sGPZI=\"}}},{\"indexid\":\"1152561\",\"indexTime\":1608122905367,\"id\":\"urn:usgs-product:pt:cap:pt16106053:1460738435716\",\"type\":\"cap\",\"code\":\"pt16106053\",\"source\":\"pt\",\"updateTime\":1460738435716,\"status\":\"UPDATE\",\"properties\":{\"eventsource\":\"pt\[...]
