interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://earthquake.usgs.gov/earthquakes/feed/v1.0/detail/usb000syza.geojson
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Last-Modified:
      - Mon, 20 Nov 2023 16:27:01 GMT
      Location:
      - /fdsnws/event/1/query?eventid=usb000syza&format=geojson
    status:
      code: 302
      message: Moved Temporarily
- request:
    body: null
    headers:
    method: GET
    uri: https://earthquake.usgs.gov/fdsnws/event/1/query?eventid=usb000syza&format=geojson
  response:
    body:
      string: '{"type":"Feature","properties":{"mag":6.2,"place":"6 km SSE of Hakuba,
        Japan","time":1416661698420,"updated":1659847563314,"tz":null,"url":"https://earthquake.usgs.gov/earthquakes/eventpage/usb000syza","felt":68,"cdi":8.5,"mmi":6.303,"alert":"yellow","status":"reviewed","tsunami":0,"sig":708,"net":"us","code":"b000syza","ids":",usb000syza,gcmt20141122130818,iscgem611078990,atlas20141122130818,","sources":",us,gcmt,iscgem,atlas,","types":",cap,dyfi,impact-text,losspager,moment-tensor,origin,phase-data,shakemap,","nst":null,"dmin":0.271,"rms":0.98,"gap":19,"magType":"mww","type":"earthquake","title":"M
        6.2 - 6 km SSE of Hakuba, Japan","products":{"cap":[{"indexid":"1027831","indexTime":1608115024100,"id":"urn:usgs-product:us:cap:usb000syza:1416662652664","type":"cap","code":"usb000syza","source":"us","updateTime":1416662652664,"status":"UPDATE","properties":{"eventsource":"us","eventsourcecode":"b000syza","original-signature":"MCwCFH1D4fbrRy/4hnv8A0JLqoInXg0bAhRnKUCWUqqqkUFiPJTPwPKgTi5QHw==","original-signature-version":"v1"},"preferredWeight":8,"contents":{"contents.xml":{"contentType":"application/xml","lastModified":1361466352000,"length":194,"url":"https://earthquake.usgs.gov/product/cap/usb000syza/us/1416662652664/contents.xml","sha256":"r45CiVHL4ekpD21D++L5uJ71Gyb7n1XuhQEP92ilkKM="},"capalert.xml":{"contentType":"application/xml","lastModified":1416662702000,"length":4624,"url":"https://earthquake.usgs.gov/product/cap/usb000syza/us/1416662652664/capalert.xml","sha256":"Su+4CSeUB2fmAsLp+un/iyw2AfR2DcFNN+cQPbM3pOU="}}}],"dyfi":[{"indexid":"21440832","indexTime":1659847568445,"id":"urn:usgs-product:us:dyfi:usb000syza:1659847563314","type":"dyfi","code":"usb000syza","source":"us","updateTime":1659847563314,"status":"UPDATE","properties":{"depth":"9","eventsource":"us","eventsourcecode":"b000syza","eventtime":"2014-11-22T13:08:18.000Z","latitude":"36.6408","longitude":"137.8875","magnitude":"6.2","maxmmi":"8.5","num-responses":"68","numResp":"68","original-signature":"MC0CFQCEqbSgufRfXtb+ccYf4iUwF9HDIgIUT8eGmFoFU3YjxtopcnnGfpNoMNA=","original-signature-version":"v1","pdl-client-version":"Version
        2.7.10 2021-06-21"},"preferredWeight":158,"contents":{"dyfi_zip.geojson":{"contentType":"application/octet-stream","lastModified":1659847561000,"length":7408,"url":"https://earthquake.usgs.gov/product/dyfi/usb000syza/us/1659847563314/dyfi_zip.geojson","sha256":"ShVQjST71F3DTx92/x0sJCuo2BM+wBs9BDpFLCkPTXM="},"dyfi_geo_10km.geojson":{"contentType":"application/octet-stream","lastModified":1659847561000,"length":5364,"url":"https://earthquake.usgs.gov/product/dyfi/usb000syza/us/1659847563314/dyfi_geo_10km.geojson","sha256":"bN/QSTZ/AyKJQnyhaCsZq60GBANXumuKAKGZFCzW8bw="},"dyfi_geo_1km.geojson":{"contentType":"application/octet-stream","lastModified":1659847561000,"length":5197,"url":"https://earthquake.usgs.gov/product/dyfi/usb000syza/us/1659847563314/dyfi_geo_1km.geojson","sha256":"YY9zcElNGFSYq+QliJ09Kr6+2A7Mah14kGqZImyfHMw="},"usb000syza_ciim.pdf":{"contentType":"application/pdf","lastModified":1659847561000,"length":262033,"url":"https://earthquake.usgs.gov/product/dyfi/usb000syza/us/1659847563314/usb000syza_ciim.pdf","sha256":"07RhElJtOxaM8uBou358VzSMNV6kxO4mq1Q6IiDO66Y="},"usb000syza_plot_numresp.jpg":{"contentType":"image/jpeg","lastModified":1659847561000,"length":33084,"url":"https://earthquake.usgs.gov/product/dyfi/usb000syza/us/1659847563314/usb000syza_plot_numresp.jpg","sha256":"q7SMXHZOalsiP2KWLCK8+FLgjrBimXbgeTwo9PgFrAY="},"usb000syza_plot_atten.txt":{"contentType":"text/plain","lastModified":1659847561000,"length":3105,"url":"https://earthquake.usgs.gov/product/dyfi/usb000syza/us/1659847563314/usb000syza_plot_atten.txt","sha256":"GQkfPttyNW4UZCKN9QqaBbtCj6izh02eEVKftSzju3I="},"cdi_geo.txt":{"contentType":"text/plain","lastModified":1659847561000,"length":1668,"url":"https://earthquake.usgs.gov/product/dyfi/usb000syza/us/1659847563314/cdi_geo.txt","sha256":"Een/76+EWIq6GCeCh9vqP9lYH9/WtuDYNFu/JLG/MG0="},"contents.xml":{"contentType":"application/xml","lastModified":1659847561000,"length":4224,"url":"https://earthquake.usgs.gov/product/dyfi/usb000syza/us/1659847563314/contents.xml","sha256":"VKX+liuUJptY9v+Od0TlYLF9If856UbXQhqja5noM4Q="},"usb000syza_ciim_geo.pdf":{"contentType":"application/pdf","lastModified":1659847561000,"length":258842,"url":"https://earthquake.usgs.gov/product/dyfi/usb000syza/us/1659847563314/usb000syza_ciim_geo.pdf","sha256":"5XfXzLShDbTbV+xln8vgPmWzshaXsgrRZBo52PLxEr4="},"cdi_geo_1km.txt":{"contentType":"text/plain","lastModified":1659847561000,"length":1867,"url":"https://earthquake.usgs.gov/product/dyfi/usb000syza/us/1659847563314/cdi_geo_1km.txt","sha256":"AkqfcTY4yxL5Oafh7h4yU90zaFQjPBtEqxL0AhBNWsY="},"dyfi_plot_atten.json":{"contentType":"application/json","lastModified":1659847561000,"length":4128,"url":"https://earthquake.usgs.gov/product/dyfi/usb000syza/us/1659847563314/dyfi_plot_atten.json","sha256":"LGTebP0pJcb+qbhZ63olB3gXDYC0agSCPa4KGBN1vQs="},"usb000syza_ciim.ps":{"contentType":"application/postscript","lastModified":1659847561000,"length":535154,"url":"https://earthquake.usgs.gov/product/dyfi/usb000syza/us/1659847563314/usb000syza_ciim.ps","sha256":"wAWLcl58EIndYMzzvGAVOjC+EuPaNmvUO3O5CMdGmNM="},"cdi_geo.xml":{"contentType":"application/xml","lastModified":1659847561000,"length":5424,"url":"https://earthquake.usgs.gov/product/dyfi/usb000syza/us/1659847563314/cdi_geo.xml","sha256":"w6VbKyuHCt4YUJYe1C75xMhJB7yXugdj5nRSpylsGvg="},"usb000syza_ciim.jpg":{"contentType":"image/jpeg","lastModified":1659847561000,"length":118148,"url":"https://earthquake.usgs.gov/product/dyfi/usb000syza/us/1659847563314/usb000syza_ciim.jpg","sha256":"t15NK/NPGlr5MLfNHiWEIS2si1w5NM1Dwm3VqyU412E="},"usb000syza_ciim_geo_imap.html":{"contentType":"text/html","lastModified":1659847561000,"length":5369,"url":"https://earthquake.usgs.gov/product/dyfi/usb000syza/us/1659847563314/usb000syza_ciim_geo_imap.html","sha256":"i1Ry/qgSaO/WVhW8Hj2PsJrfcUBgzVmEp9F0cUYZuLQ="},"cdi_zip.xml":{"contentType":"application/xml","lastModified":1659847561000,"length":10518,"url":"https://earthquake.usgs.gov/product/dyfi/usb000syza/us/1659847563314/cdi_zip.xml","sha256":"qQT/4fPVUsJhhXV+zIY361OBb9qYVoiBahthejKddDw="},"dyfi_geo.kmz":{"contentType":"application/vnd.google-earth.kmz","lastModified":1659847561000,"length":2024,"url":"https://earthquake.usgs.gov/product/dyfi/usb000syza/us/1659847563314/dyfi_geo.kmz","sha256":"86lveKTWKhrPq3e0gFErCE3jZzlI/r6t5fXWCBx1CXw="},"usb000syza_plot_atten.jpg":{"contentType":"image/jpeg","lastModified":1659847561000,"length":54216,"url":"https://earthquake.usgs.gov/product/dyfi/usb000syza/us/1659847563314/usb000syza_plot_atten.jpg","sha256":"8/S7lp/HGejUAf+z3OZUw5L2RwcI1eLG4BgOT9wid6g="},"usb000syza_plot_atten.ps":{"contentType":"application/postscript","lastModified":1659847561000,"length":54731,"url":"https://earthquake.usgs.gov/product/dyfi/usb000syza/us/1659847563314/usb000syza_plot_atten.ps","sha256":"26DWoFMbCPIKeRSFigLyvR4XyAiBIymbu5sa3Yjk2bw="},"dyfi_zip.kmz":{"contentType":"application/vnd.google-earth.kmz","lastModified":1659847561000,"length":3196,"url":"https://earthquake.usgs.gov/product/dyfi/usb000syza/us/1659847563314/dyfi_zip.kmz","sha256":"01lT0E2jDxgXFtLrZ6FJBT25Qr8D/HIFvYOTDCSo1oI="},"cdi_zip.txt":{"contentType":"text/plain","lastModified":1659847561000,"length":4797,"url":"https://earthquake.usgs.gov/product/dyfi/usb000syza/us/1659847563314/cdi_zip.txt","sha256":"6oJPeU1x+q3hb0VeZi1cJ72dz0JlSw2ew7tR70BnVNE="},"event_data.xml":{"contentType":"application/xml","lastModified":1659847561000,"length":3039,"url":"https://earthquake.usgs.gov/product/dyfi/usb000syza/us/1659847563314/event_data.xml","sha256":"5Nv5iUW9UthO1lsFc9XAN90I9QzYqOPrpmdyBK4sfWM="},"usb000syza_ciim_geo.ps":{"contentType":"application/postscript","lastModified":1659847561000,"length":529532,"url":"https://earthquake.usgs.gov/product/dyfi/usb000syza/us/1659847563314/usb000syza_ciim_geo.ps","sha256":"Wu4ABdIExO/Qw0K1fioXCUAevbIZbkHPYDIFD6AqLzI="},"dyfi_plot_numresp.json":{"contentType":"application/json","lastModified":1659847561000,"length":4524,"url":"https://earthquake.usgs.gov/product/dyfi/usb000syza/us/1659847563314/dyfi_plot_numresp.json","sha256":"Hp5m8xDjuSoY4JnZkasVRdyPbQrCMGBIV0HMWuqzzAo="},"usb000syza_ciim_imap.html":{"contentType":"text/html","lastModified":1659847561000,"length":8742,"url":"https://earthquake.usgs.gov/product/dyfi/usb000syza/us/1659847563314/usb000syza_ciim_imap.html","sha256":"kJ7UDoPQxmCvvkAVKFntA/ZNDt2lrw5LcR0J+2AgxGM="},"dyfi.kmz":{"contentType":"application/vnd.google-earth.kmz","lastModified":1659847561000,"length":1169,"url":"https://earthquake.usgs.gov/product/dyfi/usb000syza/us/1659847563314/dyfi.kmz","sha256":"YhZ/xKTKdlvZsQXsdk0Xr/E6ej6gA0peRyrCw2OhmKA="},"usb000syza_plot_numresp.ps":{"contentType":"application/postscript","lastModified":1659847561000,"length":29116,"url":"https://earthquake.usgs.gov/product/dyfi/usb000syza/us/1659847563314/usb000syza_plot_numresp.ps","sha256":"bLLWhsv5QuCDt3pmg+/uW0SqNCeSnE6nnQMCvPyuoSY="},"usb000syza_plot_numresp.txt":{"contentType":"text/plain","lastModified":1659847561000,"length":2839,"url":"https://earthquake.usgs.gov/product/dyfi/usb000syza/us/1659847563314/usb000syza_plot_numresp.txt","sha256":"B/3PEJK6Gip00NZ4cOe75DSfC51EARh1Ffm7noiLxMw="},"usb000syza_ciim_geo.jpg":{"contentType":"image/jpeg","lastModified":1659847561000,"length":114063,"url":"https://earthquake.usgs.gov/product/dyfi/usb000syza/us/1659847563314/usb000syza_ciim_geo.jpg","sha256":"g6jAiRp2sOxgNW2nv1kx++gOPq3tw7PucU1zQL+FxqE="}}}],"impact-text":[{"indexid":"13357929","indexTime":1610465765943,"id":"urn:usgs-product:us:impact-text:usb000syza:1424230253040","type":"impact-text","code":"usb000syza","source":"us","updateTime":1424230253040,"status":"UPDATE","properties":{"eventParametersPublicID":"quakeml:us.anss.org/eventparameters/b000syza/1424230268","eventsource":"us","eventsourcecode":"b000syza","original-signature":"MC4CFQCdnsdCBGqL+BrkCf+Zo5NgoILMwQIVAMxYsum1pdXluq0Uw166goIkawFf","original-signature-version":"v1"},"preferredWeight":8,"contents":{"":{"contentType":"text/plain","lastModified":1424230253000,"length":272,"bytes":"At
        least 45 people injured in Nagano and 50 buldings destroyed at Hakubacho.
        At least two landslides occured, one on National Route 406. Felt (IX) at Omachi
        and (VII) at Nagano. Felt widely from Tohoku in northeastern Japan to central
        Japan. Recorded (6L JMA) in Nagano.\n\n","sha256":"V4eXihBqLm/cS1W3/mYQ/vZ8s0b2I52NFKXxd7T0kQg="}}}],"losspager":[{"indexid":"11992767","indexTime":1610337198752,"id":"urn:usgs-product:us:losspager:usb000syza:1421339853841","type":"losspager","code":"usb000syza","source":"us","updateTime":1421339853841,"status":"UPDATE","properties":{"alertlevel":"yellow","depth":"9.0","eventsource":"us","eventsourcecode":"b000syza","eventtime":"2014-11-22T13:08:18.000Z","latitude":"36.6408","longitude":"137.887","magnitude":"6.2","maxmmi":"8.0","original-signature":"MCwCFFZvS67d/jHy0ZEdp113/7A2xUfFAhQNGUk3hxQamxJ2W1yXAiUcdhVDFg==","original-signature-version":"v1"},"preferredWeight":158,"contents":{"onepager.pdf":{"contentType":"application/octet-stream","lastModified":1421339853000,"length":551553,"url":"https://earthquake.usgs.gov/product/losspager/usb000syza/us/1421339853841/onepager.pdf","sha256":"I6T4G2uuYK2FWEbbfhw3SAu79NVYPI2nSjj0o22LTfQ="},"location.png":{"contentType":"application/octet-stream","lastModified":1421339853000,"length":17471,"url":"https://earthquake.usgs.gov/product/losspager/usb000syza/us/1421339853841/location.png","sha256":"0LrTkYUOSffclNankGQS92P2JmvozCxOvYCaZnvtYlo="},"empprob.png":{"contentType":"application/octet-stream","lastModified":1421339853000,"length":28071,"url":"https://earthquake.usgs.gov/product/losspager/usb000syza/us/1421339853841/empprob.png","sha256":"2vpai+jOezjFDVAwVwOPk1NPOnyG6rqSrwiP5Bmhj8U="},"expolegend.pdf":{"contentType":"application/octet-stream","lastModified":1421339853000,"length":124637,"url":"https://earthquake.usgs.gov/product/losspager/usb000syza/us/1421339853841/expolegend.pdf","sha256":"JHrjSCDOf2mCwMr1MjwG565mR0RcwT1JbTIM/s99vdY="},"grid.xml":{"contentType":"application/octet-stream","lastModified":1421339853000,"length":6297469,"url":"https://earthquake.usgs.gov/product/losspager/usb000syza/us/1421339853841/grid.xml","sha256":"vVlIIbE3ao9zEBzOU2RgKGeFgDhif+Vq2B0FgnpFJlc="},"contents.xml":{"contentType":"application/octet-stream","lastModified":1421339853000,"length":909,"url":"https://earthquake.usgs.gov/product/losspager/usb000syza/us/1421339853841/contents.xml","sha256":"uJbMmfndmi2KOa3wBYDYM8Te+EDlzLcllZjP2c4ywUM="},"historical_events.png":{"contentType":"application/octet-stream","lastModified":1421339853000,"length":175358,"url":"https://earthquake.usgs.gov/product/losspager/usb000syza/us/1421339853841/historical_events.png","sha256":"IgIxVzSgAML8AlVwN/jBbtjyd7WcswYPA+7nXz9ujgg="},"alertfatal.pdf":{"contentType":"application/octet-stream","lastModified":1421339853000,"length":10271,"url":"https://earthquake.usgs.gov/product/losspager/usb000syza/us/1421339853841/alertfatal.pdf","sha256":"APihBEWBkZI/AGLAbdRoYO6JnrHfdN4qWdRCh9UEpzk="},"temp.png":{"contentType":"application/octet-stream","lastModified":1421339853000,"length":144441,"url":"https://earthquake.usgs.gov/product/losspager/usb000syza/us/1421339853841/temp.png","sha256":"ktxWxzMp1+tzz9QeMSuq4eUtaAI2XQArP2Uw4F7xySw="},"exposure.xml":{"contentType":"application/octet-stream","lastModified":1421339853000,"length":157187,"url":"https://earthquake.usgs.gov/product/losspager/usb000syza/us/1421339853841/exposure.xml","sha256":"5SIaglknKAJEDkdL66LQVEyBjVohObPYIjrMarMr/lc="},"empfat.png":{"contentType":"application/octet-stream","lastModified":1421339853000,"length":45886,"url":"https://earthquake.usgs.gov/product/losspager/usb000syza/us/1421339853841/empfat.png","sha256":"23gvHMMZSBMxRGt7YolAL1rrlv4wdicn1ZctzbtDlkk="},"info.xml":{"contentType":"application/octet-stream","lastModified":1421339853000,"length":5366,"url":"https://earthquake.usgs.gov/product/losspager/usb000syza/us/1421339853841/info.xml","sha256":"XIdzcDhuijMDlYeC0Xc5Hw/nVYRcnyjqLuxzMpumNzY="},"alertfatal.png":{"contentType":"application/octet-stream","lastModified":1421339853000,"length":14528,"url":"https://earthquake.usgs.gov/product/losspager/usb000syza/us/1421339853841/alertfatal.png","sha256":"nfIegLOmEkEzhMz0kn5obFn1qUHLQXHkwtQfl7SxMq8="},"exposure_small.png":{"contentType":"application/octet-stream","lastModified":1421339853000,"length":172540,"url":"https://earthquake.usgs.gov/product/losspager/usb000syza/us/1421339853841/exposure_small.png","sha256":"9JJyY2VNOlcKc8aaoODSS9ahFDVGvHdWDxT/K+eYjjM="},"alertecon.png":{"contentType":"application/octet-stream","lastModified":1421339853000,"length":16186,"url":"https://earthquake.usgs.gov/product/losspager/usb000syza/us/1421339853841/alertecon.png","sha256":"T7Mxim9fFUT0z79iy4PJEuR66GKPIN+yX5kUCksHuHk="},"exposure.png":{"contentType":"application/octet-stream","lastModified":1421339853000,"length":215838,"url":"https://earthquake.usgs.gov/product/losspager/usb000syza/us/1421339853841/exposure.png","sha256":"ZRwNEqMGgEBcF/Qll1NTP464A8oatvvlGPeojLZszvQ="},"alertfatal_small.png":{"contentType":"application/octet-stream","lastModified":1421339853000,"length":8061,"url":"https://earthquake.usgs.gov/product/losspager/usb000syza/us/1421339853841/alertfatal_small.png","sha256":"/0dXBG58zjOHYD383vKqpEtegFgTWEKn3u4zHBVUCb4="},"history.png":{"contentType":"application/octet-stream","lastModified":1421339853000,"length":83931,"url":"https://earthquake.usgs.gov/product/losspager/usb000syza/us/1421339853841/history.png","sha256":"vHAHSfHQ0LH+jaKxM93w4vGd9mdKsmny2xprBFZu2fc="},"emphist.png":{"contentType":"application/octet-stream","lastModified":1421339853000,"length":49191,"url":"https://earthquake.usgs.gov/product/losspager/usb000syza/us/1421339853841/emphist.png","sha256":"3gCzyNpdfXgBfc8zetUk/6NO5fua/6Do3Kuz6hMWKhc="},"alertecon.pdf":{"contentType":"application/octet-stream","lastModified":1421339853000,"length":11640,"url":"https://earthquake.usgs.gov/product/losspager/usb000syza/us/1421339853841/alertecon.pdf","sha256":"fHo8ddTYgZQaqTtD4KrILRJqpUp77pIXNWc5Zf8mMpg="},"exposure.pdf":{"contentType":"application/octet-stream","lastModified":1421339853000,"length":208319,"url":"https://earthquake.usgs.gov/product/losspager/usb000syza/us/1421339853841/exposure.pdf","sha256":"Spz2HkNdQ8bDRGT0lVU0jMtqeh2/VJLBTx+CxLJu3cI="},"alertfatal_smaller.png":{"contentType":"application/octet-stream","lastModified":1421339853000,"length":4369,"url":"https://earthquake.usgs.gov/product/losspager/usb000syza/us/1421339853841/alertfatal_smaller.png","sha256":"KiS4ieNQnRZT3HBs3lhLFgkBF+nnQpFqSQzkaN0xE2k="},"semi_inventory.png":{"contentType":"application/octet-stream","lastModified":1421339853000,"length":125363,"url":"https://earthquake.usgs.gov/product/losspager/usb000syza/us/1421339853841/semi_inventory.png","sha256":"8+9EErxrepRkN7N0R0FBOHu8xIO1J7s4OHkmdLk6ABs="},"pagerexpo.kmz":{"contentType":"application/octet-stream","lastModified":1421339853000,"length":102838,"url":"https://earthquake.usgs.gov/product/losspager/usb000syza/us/1421339853841/pagerexpo.kmz","sha256":"YNynQfHgjGJzOhSUmnuM12oaQGhRxGAcpIY/txTSZtg="},"alertsponge.pdf":{"contentType":"application/octet-stream","lastModified":1421339853000,"length":8104,"url":"https://earthquake.usgs.gov/product/losspager/usb000syza/us/1421339853841/alertsponge.pdf","sha256":"kREN2/bKWpEpip+TMMmh9X6VFkB77ZJ0EaBjvackXHY="},"pager.xml":{"contentType":"application/octet-stream","lastModified":1421339853000,"length":143818,"url":"https://earthquake.usgs.gov/product/losspager/usb000syza/us/1421339853841/pager.xml","sha256":"qcZUOnjsqF6UTXGPaSnXJDjc5h35NvdB9tKebl9yl/8="},"alertsponge.png":{"contentType":"application/octet-stream","lastModified":1421339853000,"length":35787,"url":"https://earthquake.usgs.gov/product/losspager/usb000syza/us/1421339853841/alertsponge.png","sha256":"BzIfrNmZ7/qPLjG0nmHr8ZtP6X6gjSjAfmEI5eKz1GA="},"alertecon_small.png":{"contentType":"application/octet-stream","lastModified":1421339853000,"length":8903,"url":"https://earthquake.usgs.gov/product/losspager/usb000syza/us/1421339853841/alertecon_small.png","sha256":"27PbUBqKcLKP67RWAtdXmedxKYrQvY/8g9A9gm3UrNs="},"alertecon_smaller.png":{"contentType":"application/octet-stream","lastModified":1421339853000,"length":5051,"url":"https://earthquake.usgs.gov/product/losspager/usb000syza/us/1421339853841/alertecon_smaller.png","sha256":"N/oKHQ9tBA8JKIrU17CK7xKEXM1AOHKrChwtlV6XmTE="},"alertsponge_small.png":{"contentType":"application/octet-stream","lastModified":1421339853000,"length":6111,"url":"https://earthquake.usgs.gov/product/losspager/usb000syza/us/1421339853841/alertsponge_small.png","sha256":"BVy9Z0mo6RG9A8FEs8g4mb1NzZ4ePN9WGeTvTPNphik="},"expolegend.png":{"contentType":"application/octet-stream","lastModified":1421339853000,"length":69644,"url":"https://earthquake.usgs.gov/product/losspager/usb000syza/us/1421339853841/expolegend.png","sha256":"kLDSceel/ibi1+rX9053SAS3/6O91g9j/bqMPTLcWsY="}}}],"moment-tensor":[{"indexid":"9335075","indexTime":1609359885470,"id":"urn:usgs-product:us:moment-tensor:us_b000syza_mww:1424230253040","type":"moment-tensor","code":"us_b000syza_mww","source":"us","updateTime":1424230253040,"status":"UPDATE","properties":{"beachball-source":"us","depth":"9","derived-depth":"11.5","derived-eventtime":"2014-11-22T13:08:24.000Z","derived-latitude":"36.7400","derived-longitude":"138.4100","derived-magnitude":"6.2","derived-magnitude-type":"Mww","evaluation-status":"reviewed","eventParametersPublicID":"quakeml:us.anss.org/eventparameters/b000syza/1424230268","eventsource":"us","eventsourcecode":"b000syza","eventtime":"2014-11-22T13:08:18.420Z","latitude":"36.6408","longitude":"137.8875","n-axis-azimuth":"43","n-axis-length":"133242000000000000","n-axis-plunge":"15","nodal-plane-1-dip":"51","nodal-plane-1-rake":"110","nodal-plane-1-strike":"236","nodal-plane-2-dip":"43","nodal-plane-2-rake":"67","nodal-plane-2-strike":"26","original-signature":"MC0CFG+invQgWhbdbBz1Sr5PoEnbi49JAhUAqaDDqBYokjgMwYtXQvRqqzchONE=","original-signature-version":"v1","p-axis-azimuth":"312","p-axis-length":"-2383170000000000000","p-axis-plunge":"4","percent-double-couple":"0.8882","quakeml-publicid":"quakeml:us.anss.org/focalmechanism/b000syza/mww","review-status":"reviewed","scalar-moment":"2320000000000000000","t-axis-azimuth":"207","t-axis-length":"2249920000000000000","t-axis-plunge":"74","tensor-mpp":"-1204000000000000000","tensor-mrp":"119000000000000000","tensor-mrr":"2079000000000000000","tensor-mrt":"-617000000000000000","tensor-mtp":"-1310000000000000000","tensor-mtt":"-875000000000000000"},"preferredWeight":218,"contents":{"contents.xml":{"contentType":"application/xml","lastModified":1426188165000,"length":195,"url":"https://earthquake.usgs.gov/product/moment-tensor/us_b000syza_mww/us/1424230253040/contents.xml","sha256":"ABhLiaqdYWmIak24eD/csBAWouBShhatD9bUzLNEZFk="},"quakeml.xml":{"contentType":"application/xml","lastModified":1424230253000,"length":5539,"url":"https://earthquake.usgs.gov/product/moment-tensor/us_b000syza_mww/us/1424230253040/quakeml.xml","sha256":"Y38P0snbnOa+6on3NVG1HLZsW+liuNPb8L6dNQFOvQI="}}},{"indexid":"9321763","indexTime":1609358805678,"id":"urn:usgs-product:us:moment-tensor:usb000syza:1416676513000","type":"moment-tensor","code":"usb000syza","source":"us","updateTime":1416676513000,"status":"UPDATE","properties":{"beachball-source":"us","derived-[...]
