interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://earthquake.usgs.gov/fdsnws/event/1/query?format=geojson&eventid=nc73821036
  response:
    body:
      string: "{\"type\":\"Feature\",\"properties\":{\"mag\":6.37,\"place\":\"15km
        WSW of Ferndale, CA\",\"time\":1671532464770,\"updated\":1671668010248,\"tz\":null,\"url\":\"https://earthquake.usgs.gov/earthquakes/eventpage/nc73821036\",\"felt\":5722,\"cdi\":7.6,\"mmi\":7.21,\"alert\":\"yellow\",\"status\":\"reviewed\",\"tsunami\":1,\"sig\":1410,\"net\":\"nc\",\"code\":\"73821036\",\"ids\":\",ew1671532470,nc73821036,at00rn6qpb,usauto6000jahm,pt22354001,us6000jahm,\",\"sources\":\",ew,nc,at,usauto,pt,us,\",\"types\":\",dyfi,focal-mechanism,general-link,general-text,ground-failure,impact-link,internal-moment-tensor,internal-origin,losspager,moment-tensor,nearby-cities,oaf,origin,phase-data,scitech-link,shake-alert,shakemap,\",\"nst\":38,\"dmin\":0.0818,\"rms\":0.18,\"gap\":214,\"magType\":\"mw\",\"type\":\"earthquake\",\"title\":\"M
        6.4 - 15km WSW of Ferndale, CA\",\"products\":{\"dyfi\":[{\"indexid\":\"22091038\",\"indexTime\":1671668018663,\"id\":\"urn:usgs-product:us:dyfi:nc73821036:1671668010248\",\"type\":\"dyfi\",\"code\":\"nc73821036\",\"source\":\"us\",\"updateTime\":1671668010248,\"status\":\"UPDATE\",\"properties\":{\"depth\":\"17.91\",\"eventsource\":\"nc\",\"eventsourcecode\":\"73821036\",\"eventtime\":\"2022-12-20T10:34:24.000Z\",\"latitude\":\"40.525\",\"longitude\":\"-124.423\",\"magnitude\":\"6.4\",\"maxmmi\":\"7.6\",\"num-responses\":\"5722\",\"numResp\":\"5722\",\"original-signature\":\"MC0CFQDINYmyRaH8biNarIqcLduuN/i28wIUVFXXwlnLgOQxqfvgACLlD7NSkqo=\",\"original-signature-version\":\"v1\",\"pdl-client-version\":\"Version
        2.7.10 2021-06-21\"},\"preferredWeight\":53,\"contents\":{\"dyfi_zip.geojson\":{\"contentType\":\"application/octet-stream\",\"lastModified\":1671668009000,\"length\":104793,\"url\":\"https://earthquake.usgs.gov/product/dyfi/nc73821036/us/1671668010248/dyfi_zip.geojson\",\"sha256\":\"TWCiUI/Vi+aAcdL6gyskav9aHL6w3oWkVU+DJx4l9wQ=\"},\"dyfi_geo_10km.geojson\":{\"contentType\":\"application/octet-stream\",\"lastModified\":1671668009000,\"length\":168051,\"url\":\"https://earthquake.usgs.gov/product/dyfi/nc73821036/us/1671668010248/dyfi_geo_10km.geojson\",\"sha256\":\"mT8lUB6xsFeihtS2J3Pj4D49FW46w0R6WK7bG9KyHB8=\"},\"dyfi_geo_1km.geojson\":{\"contentType\":\"application/octet-stream\",\"lastModified\":1671668009000,\"length\":727451,\"url\":\"https://earthquake.usgs.gov/product/dyfi/nc73821036/us/1671668010248/dyfi_geo_1km.geojson\",\"sha256\":\"8BbaCUpMM3uhYWOb7+W3GMTvybi3CxXcIU+mFj3jA5s=\"},\"nc73821036_plot_atten.ps\":{\"contentType\":\"application/postscript\",\"lastModified\":1671668009000,\"length\":64367,\"url\":\"https://earthquake.usgs.gov/product/dyfi/nc73821036/us/1671668010248/nc73821036_plot_atten.ps\",\"sha256\":\"1d8rGNqPqO0AOrTqq4Ud8AMtBO+kMA8LrlbUIcoOyJ0=\"},\"cdi_geo.txt\":{\"contentType\":\"text/plain\",\"lastModified\":1671668009000,\"length\":50064,\"url\":\"https://earthquake.usgs.gov/product/dyfi/nc73821036/us/1671668010248/cdi_geo.txt\",\"sha256\":\"PvbaidTyaBzFH8Uf+G3Mvz2JBff8t/P6aDxufrgJxW8=\"},\"nc73821036_plot_numresp.jpg\":{\"contentType\":\"image/jpeg\",\"lastModified\":1671668009000,\"length\":36609,\"url\":\"https://earthquake.usgs.gov/product/dyfi/nc73821036/us/1671668010248/nc73821036_plot_numresp.jpg\",\"sha256\":\"z7mnKAvrSmFTk2dDIIrMJe9ZQJUXPIuevDr/V3JZnXY=\"},\"contents.xml\":{\"contentType\":\"application/xml\",\"lastModified\":1671668009000,\"length\":4224,\"url\":\"https://earthquake.usgs.gov/product/dyfi/nc73821036/us/1671668010248/contents.xml\",\"sha256\":\"kjiSWldA5sWjxVMsfHjoQ+2aPWBoqFnmW9AYKr4mxFU=\"},\"cdi_geo_1km.txt\":{\"contentType\":\"text/plain\",\"lastModified\":1671668009000,\"length\":245637,\"url\":\"https://earthquake.usgs.gov/product/dyfi/nc73821036/us/1671668010248/cdi_geo_1km.txt\",\"sha256\":\"GOtRPNp8IyrgFeXmLhp0d9Z0G1wLlbYMx4lSFnJFEhE=\"},\"dyfi_plot_atten.json\":{\"contentType\":\"application/json\",\"lastModified\":1671668009000,\"length\":15955,\"url\":\"https://earthquake.usgs.gov/product/dyfi/nc73821036/us/1671668010248/dyfi_plot_atten.json\",\"sha256\":\"b22UgmHG5clLpFfBHypa+ows+CDOBOeVKAVVFucVo/4=\"},\"nc73821036_ciim.ps\":{\"contentType\":\"application/postscript\",\"lastModified\":1671668009000,\"length\":752973,\"url\":\"https://earthquake.usgs.gov/product/dyfi/nc73821036/us/1671668010248/nc73821036_ciim.ps\",\"sha256\":\"BhGMTmusks2BxBqH5FVnTSQnyTfQg68wjJCsGIAk8K4=\"},\"cdi_geo.xml\":{\"contentType\":\"application/xml\",\"lastModified\":1671668009000,\"length\":164678,\"url\":\"https://earthquake.usgs.gov/product/dyfi/nc73821036/us/1671668010248/cdi_geo.xml\",\"sha256\":\"CoxTKk1T/J5ftPiuQH+V4EmlTH9TxYKuOw3jSisUq3g=\"},\"nc73821036_ciim_geo.ps\":{\"contentType\":\"application/postscript\",\"lastModified\":1671668009000,\"length\":501779,\"url\":\"https://earthquake.usgs.gov/product/dyfi/nc73821036/us/1671668010248/nc73821036_ciim_geo.ps\",\"sha256\":\"6xbI0x+jKK+ZN99hq7NuxX6FxZouQgvG+xZP7z2R9HQ=\"},\"nc73821036_plot_atten.txt\":{\"contentType\":\"text/plain\",\"lastModified\":1671668009000,\"length\":9655,\"url\":\"https://earthquake.usgs.gov/product/dyfi/nc73821036/us/1671668010248/nc73821036_plot_atten.txt\",\"sha256\":\"99Kzmdgnik6zE1iUZV7qV9W1JT/+61b0YcHR85ekjPM=\"},\"nc73821036_ciim.pdf\":{\"contentType\":\"application/pdf\",\"lastModified\":1671668009000,\"length\":431238,\"url\":\"https://earthquake.usgs.gov/product/dyfi/nc73821036/us/1671668010248/nc73821036_ciim.pdf\",\"sha256\":\"4cfk7iWGu6t80J284hpwVyiG0N3QwJ2PLJVZkzyu4fs=\"},\"cdi_zip.xml\":{\"contentType\":\"application/xml\",\"lastModified\":1671668009000,\"length\":144226,\"url\":\"https://earthquake.usgs.gov/product/dyfi/nc73821036/us/1671668010248/cdi_zip.xml\",\"sha256\":\"+4UydM5zFkVnaRqyTtzToxAdzk9y8+LQFOVhjjYP8sg=\"},\"dyfi_geo.kmz\":{\"contentType\":\"application/vnd.google-earth.kmz\",\"lastModified\":1671668009000,\"length\":34160,\"url\":\"https://earthquake.usgs.gov/product/dyfi/nc73821036/us/1671668010248/dyfi_geo.kmz\",\"sha256\":\"4FoAvgLJDUfXFxfaMvJfFQXacsS5thnQim8Uk0XvEx0=\"},\"nc73821036_ciim_imap.html\":{\"contentType\":\"text/html\",\"lastModified\":1671668009000,\"length\":264102,\"url\":\"https://earthquake.usgs.gov/product/dyfi/nc73821036/us/1671668010248/nc73821036_ciim_imap.html\",\"sha256\":\"Fqiz/H1tHOAZpalXUCaMod+nxKNP6gq3/55RnxoOdEs=\"},\"nc73821036_ciim_geo.jpg\":{\"contentType\":\"image/jpeg\",\"lastModified\":1671668009000,\"length\":126632,\"url\":\"https://earthquake.usgs.gov/product/dyfi/nc73821036/us/1671668010248/nc73821036_ciim_geo.jpg\",\"sha256\":\"4UBJO9wqdODiw4507/OnvlDQeUuzMWPIBXB8Ra6N4fE=\"},\"dyfi_zip.kmz\":{\"contentType\":\"application/vnd.google-earth.kmz\",\"lastModified\":1671668009000,\"length\":252280,\"url\":\"https://earthquake.usgs.gov/product/dyfi/nc73821036/us/1671668010248/dyfi_zip.kmz\",\"sha256\":\"HCEUCgmK/5YcEOm6NCldEGVbfH9vMzBUnaakqQ/oWoA=\"},\"cdi_zip.txt\":{\"contentType\":\"text/plain\",\"lastModified\":1671668009000,\"length\":39039,\"url\":\"https://earthquake.usgs.gov/product/dyfi/nc73821036/us/1671668010248/cdi_zip.txt\",\"sha256\":\"bMfUe5xU+KrcY9ygYqZfwoUvAS7RDnMLcygTye1eyEI=\"},\"event_data.xml\":{\"contentType\":\"application/xml\",\"lastModified\":1671668009000,\"length\":3046,\"url\":\"https://earthquake.usgs.gov/product/dyfi/nc73821036/us/1671668010248/event_data.xml\",\"sha256\":\"NH5TrpmLnoVTM18WMSIdee0kTAQWmxOlhbJHheOcxec=\"},\"nc73821036_plot_atten.jpg\":{\"contentType\":\"image/jpeg\",\"lastModified\":1671668009000,\"length\":72264,\"url\":\"https://earthquake.usgs.gov/product/dyfi/nc73821036/us/1671668010248/nc73821036_plot_atten.jpg\",\"sha256\":\"jHfktPcgE/FojCHuwOCTliHxCG71fQ6oT6hySTQAm1c=\"},\"dyfi_plot_numresp.json\":{\"contentType\":\"application/json\",\"lastModified\":1671668009000,\"length\":404114,\"url\":\"https://earthquake.usgs.gov/product/dyfi/nc73821036/us/1671668010248/dyfi_plot_numresp.json\",\"sha256\":\"Qpc6i5JMRGMT/K2jyYVQ7zeIMPCxB6IokmSpYyt7nTE=\"},\"nc73821036_ciim_geo.pdf\":{\"contentType\":\"application/pdf\",\"lastModified\":1671668009000,\"length\":287565,\"url\":\"https://earthquake.usgs.gov/product/dyfi/nc73821036/us/1671668010248/nc73821036_ciim_geo.pdf\",\"sha256\":\"350C19pHiXIO0n0LQtmVUpfv/MMP7mt2j2q82QYjCh8=\"},\"nc73821036_plot_numresp.ps\":{\"contentType\":\"application/postscript\",\"lastModified\":1671668009000,\"length\":31647,\"url\":\"https://earthquake.usgs.gov/product/dyfi/nc73821036/us/1671668010248/nc73821036_plot_numresp.ps\",\"sha256\":\"fTfxrUIaJanl/xYM+Sawl8GHGOuMSmW1Z8G4fPJodLI=\"},\"nc73821036_ciim.jpg\":{\"contentType\":\"image/jpeg\",\"lastModified\":1671668009000,\"length\":139247,\"url\":\"https://earthquake.usgs.gov/product/dyfi/nc73821036/us/1671668010248/nc73821036_ciim.jpg\",\"sha256\":\"qltLVANuCfnqeBJPIff1maH32vZIjLMdiyMpoGhvmSw=\"},\"dyfi.kmz\":{\"contentType\":\"application/vnd.google-earth.kmz\",\"lastModified\":1671668009000,\"length\":1178,\"url\":\"https://earthquake.usgs.gov/product/dyfi/nc73821036/us/1671668010248/dyfi.kmz\",\"sha256\":\"jgw7+MLZVDgMAonceJSKwdOFzsR3a0Z5TZxumVRnrqg=\"},\"nc73821036_ciim_geo_imap.html\":{\"contentType\":\"text/html\",\"lastModified\":1671668009000,\"length\":139584,\"url\":\"https://earthquake.usgs.gov/product/dyfi/nc73821036/us/1671668010248/nc73821036_ciim_geo_imap.html\",\"sha256\":\"qTJUuHMg5kchEYHcAm5gPuuHYkB5wCeKmUz2g6KnrH4=\"},\"nc73821036_plot_numresp.txt\":{\"contentType\":\"text/plain\",\"lastModified\":1671668009000,\"length\":259770,\"url\":\"https://earthquake.usgs.gov/product/dyfi/nc73821036/us/1671668010248/nc73821036_plot_numresp.txt\",\"sha256\":\"O7suAnp0QaE1XKNa5OHQxdXfpNqDh58H7vEd25iKi+0=\"}}}],\"focal-mechanism\":[{\"indexid\":\"22082349\",\"indexTime\":1671539305822,\"id\":\"urn:usgs-product:nc:focal-mechanism:nc73821036_fm1:1671539303300\",\"type\":\"focal-mechanism\",\"code\":\"nc73821036_fm1\",\"source\":\"nc\",\"updateTime\":1671539303300,\"status\":\"UPDATE\",\"properties\":{\"beachball-source\":\"NC\",\"depth\":\"17.91\",\"evaluation-status\":\"preliminary\",\"eventParametersPublicID\":\"quakeml:nc.anss.org/Event/NC/73821036#167153930330\",\"eventsource\":\"nc\",\"eventsourcecode\":\"73821036\",\"eventtime\":\"2022-12-20T10:34:24.770Z\",\"latitude\":\"40.525\",\"longitude\":\"-124.423\",\"nodal-plane-1-dip\":\"80.0\",\"nodal-plane-1-rake\":\"20.0\",\"nodal-plane-1-strike\":\"245.0\",\"nodal-plane-2-dip\":\"70.0\",\"nodal-plane-2-rake\":\"169.0\",\"nodal-plane-2-strike\":\"151.0\",\"num-stations-used\":\"114\",\"original-eventsource\":\"nc\",\"original-eventsourcecode\":\"73821036\",\"original-signature\":\"MC0CFBaNHsKaQuaCZw4fqm802QxSefAgAhUAvUInaZ6FzChv2P1zvBXK/4p6G6s=\",\"original-signature-version\":\"v1\",\"pdl-client-version\":\"Version
        2.3.1 2020-04-13\",\"quakeml-publicid\":\"quakeml:nc.anss.org/Mec/NC/1803994\",\"review-status\":\"automatic\"},\"preferredWeight\":157,\"contents\":{\"quakeml.xml\":{\"contentType\":\"application/xml\",\"lastModified\":1671539303000,\"length\":15619,\"url\":\"https://earthquake.usgs.gov/product/focal-mechanism/nc73821036_fm1/nc/1671539303300/quakeml.xml\",\"sha256\":\"lvj6cqFjrnCtVeGForMLA5C5WnuoKbWRHfAzvOM8paw=\"},\"nc73821036.ncfm1.gif\":{\"contentType\":\"image/gif\",\"lastModified\":1671539302000,\"length\":16238,\"url\":\"https://earthquake.usgs.gov/product/focal-mechanism/nc73821036_fm1/nc/1671539303300/nc73821036.ncfm1.gif\",\"sha256\":\"UzVKxyJ4BH42fGF9a5GliEg4FelkKHnKmmIZuRr7RTA=\"},\"contents.xml\":{\"contentType\":\"application/xml\",\"lastModified\":1671539303000,\"length\":304,\"url\":\"https://earthquake.usgs.gov/product/focal-mechanism/nc73821036_fm1/nc/1671539303300/contents.xml\",\"sha256\":\"EDZMB3+80/5iAAjZF0i8Gf87s6b26pIHWQp9pxg03q8=\"}}}],\"general-link\":[{\"indexid\":\"22088762\",\"indexTime\":1671637750024,\"id\":\"urn:usgs-product:admin:general-link:nc73821036-1671637689679:1671637748731\",\"type\":\"general-link\",\"code\":\"nc73821036-1671637689679\",\"source\":\"admin\",\"updateTime\":1671637748731,\"status\":\"UPDATE\",\"properties\":{\"eventsource\":\"nc\",\"eventsourcecode\":\"73821036\",\"original-signature\":\"gRm3wCwoo3jdUqWEhMNbvT27hP887NuLTRI8UC+OC+lP00I1IcWUmCEIZF2NBz0VU95BqsgQMkwdBax+TkeT4oRPtx3wI7Zd7o8pcT5C/zXsejJ8D5cLoZB/JOrTrQTCj7XRn1qPyGn9oqV6NoC5gaCwME2jN9WGg57vnQigfS9pkdSsrX8lqzyizrTzcmsvYIy2fZeU+pNCHQGDuvOpRe49vSCxZqVW4gZyxbmGVXJfUTa1Z5Qg/OpxRvI7GBnpJIJM3Kk8nmaYWG9Zp/nIzqG8ja3mnZmJE9cofpihf2mNMHKZmZfmRNXBu196dguy0rAUPmz55N8iD4gC4mPbLHvK2ZuAPP3DQ7M1nf9W7KnI7Dpa588cdhRqd7ZN9Oi0P9cqm1bBewGWNV7+5Pk6uVnz91/wSXakAQVWQzPOnfDxyCUC+AVums25ezY29Z7+L+x8pw1AXaZYEvBKbcZOZ4L7+u/EA0kJeCRdRNz0HwWw2antjEUyyEAlFtwzB7hxzwBOzykQ+HCZD4TXmDYgbnt91u/4U7dUrRG+0gdtmTuBcQQBVCaZo+IoysPZGFGeyaLFmbt+YD/wS9g01kmlFsKsY14JL0zzIP0iLEufHVKiZi1N2Plk5KVmEvYNNbqerrlroVrUkworfLd1IFu/GVxi9PUEqiR7roXFj5LOP7s=\",\"original-signature-version\":\"v1\",\"pdl-client-version\":\"Version
        2.6.0 2020-11-20\",\"senderemail\":\"lisa\",\"text\":\"Strong Motion Data\",\"url\":\"https://www.strongmotioncenter.org/cgi-bin/CESMD/iqr_dist_DM2_sr.pl?IQRID=nc73821036&SFlag=0&Flag=2\"},\"preferredWeight\":1,\"contents\":[]}],\"general-text\":[{\"indexid\":\"22084054\",\"indexTime\":1671560357563,\"id\":\"urn:usgs-product:admin:general-text:nc73821036-1671548365294:1671560356548\",\"type\":\"general-text\",\"code\":\"nc73821036-1671548365294\",\"source\":\"admin\",\"updateTime\":1671560356548,\"status\":\"UPDATE\",\"properties\":{\"eventsource\":\"nc\",\"eventsourcecode\":\"73821036\",\"original-signature\":\"oq3DbYmLQWsQWV78VOATjbbCZQwHbH5wmrOXQ/FHCvyRzzhASujL7tdCxg0fKDfHl27iz/dTDdj+IzkWhVj7jlEQV/YOiiUNK5P4Qup68JojF8vpuBMj2T4wnHXsVQ68THNuMCSWS8FZfmIth0nT8UuQfzn9WVknEhRvZLN6TfNk+aqCSrq9a277DeuukiPDRCotCidP+UsGh82H8eeyw+hO4/6qCIg+inwuE8JymL2VCyd/+0UkPBavS+pJFrLzp5D2w3Gb+kIxGM/PYUgUx91rECJ5TOsXN8lNoxXDK2Xpc7Bpr2IHqglij95TKJqgNpSubIa+tz4Xj0Sn1JXru06NA3bf7DgWzGio1ZAN+CiR2IMYko8Z7p03Vw3ZD/yT9pjZ1Ao72BbyeDkDcW4yjma+35pjP4WqoGBPqRFPvzMtrLNlxKC3YkM8JWQtfwg9w60yg2YrrREnxbpuLNmo3mFRQN7bz5HEZ2g9Wixpcvw/WjDmeJ/fqbeajzctBLAwZG0dUcNa+YcK3FiOUMFgAvSVhiRTVStE8eojfeo9T//VrgPGbyRGIQb7dmS+3UsA3OGTvfHnxXwOg2BOKr4leFi+BnXbYvHi3KHD0kmmt+UEtb0hrWbAxU4O19aT72d+WPcc9FHXDa9Iyad2DzoH2ABT9JLGmYvFshRNOUeFSgw=\",\"original-signature-version\":\"v1\",\"pdl-client-version\":\"Version
        2.6.0 2020-11-20\",\"review-status\":\"Reviewed\",\"senderemail\":\"dshelly\"},\"preferredWeight\":1,\"contents\":{\"\":{\"contentType\":\"1\",\"lastModified\":1671560356000,\"length\":1335,\"bytes\":\"<h2>Tectonic
        Summary</h2> \\n<p> \\nThe December 20, 2022, M 6.4 earthquake occurred approximately
        15 km southwest of Ferndale, California near the coast of northern California
        in the vicinity of the Mendocino triple junction \u2013 the region where the
        Pacific, North America, and Juan de Fuca/Gorda plates meet. Focal mechanism
        solutions indicate that rupture occurred as a result of strike-slip faulting
        on a steeply dipping fault striking either southe[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://service.iris.edu/fdsnws/dataselect/1/application.wadl
  response:
    body:
      string: !!binary |
        H4sIAAAAAAAAAO1Yy3LaMBRdh6/QeJmZWiSrNoPJJJOmqz7S0A8Q1gWrlSVHujbw95UfBOPaBpIw
        02lZSlfn6L50z9ij62UsSQbGCq0C78IfegRUqLlQ88D7Mbl/994jFpniTGoFgbcC612PB4SMWJJI
        ETJ0QOJIlA28CDG5onTBuPQ5ZP5PljFfAdLL4fADHV56OdBBuQ4JCpSO7/7u8QvhDJkFCSGSBUyJ
        BZOJEEjuDa0gc8PimBm7XhuwOjUhWDJ10OerK6gvjLA+8JTOuFULSzc30AtaubHFQxKGUeDVbYU9
        Bow0J4rF7pJPHyceETzwjNbYOLlmS7Sy8KepMifuBCgssxYDF2yyShwzwhJphLFcB7yFo+28I1p6
        19hthPSUglm1Odse2vr42VlF5jYsrtduJ2GuFBXKdYZBFDHkTbLK61nCSQ4TBhwfmtRZsYhyaa9c
        ISCPsZUOFH87Mtd3C21+Nck2aIvGdXkn3pZVejFe6rCVYF98GDGlQL4U/pQyKXC1C044zFgqMfBu
        W3qk2TI6KRo3YzJ1LHdtzdoP+X445OFwyOfDIbfdkBEt8tqR51goEaexBDXHqDPbXKdTCbVsD8vZ
        1tE5au7enFayu3xTrSUwVWOcMWlrryEfGtXTbQ2qf1TtHlaJZEL1JK0bXhMOminu5yPajy0A76Lr
        GoClrW0IFpatAfft62M14RJt8aFjKFau9ySuN7Rzet4Xw/9bjwJRqNIeYsVS95IOE6ybEvKvitYr
        NeskWSfJOknWXz4iC8suybppH42V+72ydRKuYwpX9Qm9v2x1A46f1eOloVYSP/8NsH8+9kC+NjH1
        flm2f2q/XXaae5u1HQ9GtObLePAbqy5TIYYRAAA=
    headers:
      Content-Type:
      - application/xml
      content-disposition:
      - inline; filename=fdsnws-dataselect_2022-12-22T00:33:12Z.xml
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
    method: GET
    uri: http://service.iris.edu/fdsnws/station/1/query?starttime=2022-12-20T10%3A34%3A14.770000&endtime=2022-12-20T10%3A36%3A24.770000&network=UW&channel=BH%3F%2CHH%3F%2CBN%3F%2CHN%3F&level=channel&latitude=40.525&longitude=-124.423&minradius=0.0&maxradius=2.0&matchtimeseries=true&format=text
  response:
    body:
      string: !!binary |
        H4sIAAAAAAAAADSOwU7DMAyG73uKSdymtbghYoxbWYuYgExqM3GOMotFNElJM5BQHp6kEMmWP//+
        ZfuKof+27mMZlr0XXlkT6cXKjLuzMAaHJEbJX044z8175nbAr2xucPTnWOsfpS8zNWpMm9FM1jU4
        SafGf28vxYC5Pjr8zHw0yk+pEXocsBMe/35znis9XzSnRIvjW3joDs8hPLE2UFLC5nYTiorQkmxv
        aKgolBBSbjPwPa/ZupYSB3RWo0e3ZjU7vLa82+/6QIACJGMVU19PqxWJWhIIkKoAWsAdB7ifo4xW
        CItfAAAA//9CcoUfXlfQ0hEAAAAA//9CckQUQUfoWtLKGQAAAAD//wI6I9zVJQgeIyYmRhBXmBga
        G9cYWpjomVE9QszRHQEAAAD//0JyhB8+R9DSDQAAAAD//0JyQxQhN1AtOjBcAQAAAP//AwDrejkL
        3AMAAA==
    headers:
      Content-Type:
      - text/plain
    status:
      code: 200
      message: ''
- request:
    body: 'UW BROK -- HNE 2022-12-20T10:34:14.770000 2022-12-20T10:36:24.770000

      UW BROK -- HNN 2022-12-20T10:34:14.770000 2022-12-20T10:36:24.770000

      UW BROK -- HNZ 2022-12-20T10:34:14.770000 2022-12-20T10:36:24.770000

      UW WEDR -- HNE 2022-12-20T10:34:14.770000 2022-12-20T10:36:24.770000

      UW WEDR -- HNN 2022-12-20T10:34:14.770000 2022-12-20T10:36:24.770000

      UW WEDR -- HNZ 2022-12-20T10:34:14.770000 2022-12-20T10:36:24.770000'
    headers:
      Content-T[...]
- request:
    body: 'level=response

      UW BROK -- HNE 2022-12-20T10:34:14.770000 2022-12-20T10:36:24.770000

      UW BROK -- HNN 2022-12-20T10:34:14.770000 2022-12-20T10:36:24.770000

      UW BROK -- HNZ 2022-12-20T10:34:14.770000 2022-12-20T10:36:24.770000'
    headers:
      Content-Type:
      - text/plain
    method: POST
    uri: http://service.iris.edu/fdsnws/station/1/query
  response:
    body:
      string: !!binary |
        H4sIAAAAAAAAAO1cbW8bNxL+3l+x8KfeIaL4/mIoKhxbTYVz5MCyk1[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://earthquake.usgs.gov/product/shakemap/73821036/nc/1671619068550/download/rupture.json
  response:
    body:
      string: '{"type": "FeatureCollection", "metadata": {"reference": "Origin", "id":
        "73821036", "network": "Northern California Seismic Network", "netid": "nc",
        "productcode": "73821036", "time": "2022-12-20T10:34:24.000000Z", "lat": 40.525,
        "lon": -124.423, "depth": 17.9, "mag": 6.4, "locstring": "14.6 km (9.1 mi)
        WSW of Ferndale, CA", "mech": "SS", "rake": 0.0}, "features": [{"type": "Feature",
        "properties": {"rupture type": "rupture extent"}, "geometry": {"type": "Point",
        "coordinates": [-124.423, 40.525, 17.9]}}]}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"2f218615545bdb6c230731d2ef96b152"'
      Last-Modified:
      - Wed, 21 Dec 2022 10:38:39 GMT
      x-amz-meta-modified:
      - '2022-12-21T10:37:47.000Z'
      x-amz-meta-sha256:
      - vyaOO7tzMb9tqCAMjNOsqR4YvWCxV3k/Vfhy99bM/yg=
      x-amz-version-id:
      - lNPPlZGs1Cqj0CDsqtRVffiYdZrsqhFd
    status:
      code: 200
      message: OK
version: 1
