interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://earthquake.usgs.gov/earthquakes/feed/v1.0/detail/nc72282711.geojson
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Last-Modified:
      - Mon, 11 Nov 2024 22:40:08 GMT
      Location:
      - /fdsnws/event/1/query?eventid=nc72282711&format=geojson
    status:
      code: 302
      message: Moved Temporarily
- request:
    body: null
    headers:
    method: GET
    uri: https://earthquake.usgs.gov/fdsnws/event/1/query?eventid=nc72282711&format=geojson
  response:
    body:
      string: '{"type":"Feature","properties":{"mag":6.02,"place":"The 2014 South
        Napa, California Earthquake","time":1408875644070,"updated":1729210554204,"tz":null,"url":"https://earthquake.usgs.gov/earthquakes/eventpage/nc72282711","felt":16684,"cdi":7.6,"mmi":8.197,"alert":"red","status":"reviewed","tsunami":1,"sig":2760,"net":"nc","code":"72282711","ids":",at00nat3ek,nc72282711,usb000s5tp,iscgem610572079,atlas20140824102044,","sources":",at,nc,us,iscgem,atlas,","types":",cap,dyfi,earthquake-name,finite-fault,focal-mechanism,general-link,ground-failure,image,impact-link,impact-text,losspager,moment-tensor,nearby-cities,origin,phase-data,poster,scitech-link,shakemap,","nst":369,"dmin":0.03604,"rms":0.18,"gap":28,"magType":"mw","type":"earthquake","title":"M
        6.0 - The 2014 South Napa, California Earthquake","products":{"cap":[{"indexid":"1050958","indexTime":1608116638553,"id":"urn:usgs-product:nc:cap:nc72282711:1408917290587","type":"cap","code":"nc72282711","source":"nc","updateTime":1408917290587,"status":"UPDATE","properties":{"eventsource":"nc","eventsourcecode":"72282711","original-signature":"MC0CFQCM/Y/Y1i+cPdwtPOAn9NvSVLgBmgIUXEkBuNmI/ibo4bOPB2ixSyejgWI=","original-signature-version":"v1"},"preferredWeight":7,"contents":{"contents.xml":{"contentType":"application/octet-stream","lastModified":1361466352000,"length":194,"url":"https://earthquake.usgs.gov/product/cap/nc72282711/nc/1408917290587/contents.xml","sha256":"r45CiVHL4ekpD21D++L5uJ71Gyb7n1XuhQEP92ilkKM="},"capalert.xml":{"contentType":"application/octet-stream","lastModified":1408917302000,"length":7189,"url":"https://earthquake.usgs.gov/product/cap/nc72282711/nc/1408917290587/capalert.xml","sha256":"3uNdFKpmA9Fv9MRIFRzc86r5yXIfQjrPiPaF+EmLylo="}}},{"indexid":"1050931","indexTime":1608116637390,"id":"urn:usgs-product:at:cap:at00nat3ek:1408875813343","type":"cap","code":"at00nat3ek","source":"at","updateTime":1408875813343,"status":"UPDATE","properties":{"eventsource":"at","eventsourcecode":"00nat3ek","original-signature":"MCwCFG1Qmnkww17aTXEAvnjaBFWYV3FIAhQZzh4L8ho2zM0h4ZZZTW6h5l5g8w==","original-signature-version":"v1"},"preferredWeight":6,"contents":{"contents.xml":{"contentType":"application/octet-stream","lastModified":1361466352000,"length":194,"url":"https://earthquake.usgs.gov/product/cap/at00nat3ek/at/1408875813343/contents.xml","sha256":"r45CiVHL4ekpD21D++L5uJ71Gyb7n1XuhQEP92ilkKM="},"capalert.xml":{"contentType":"application/octet-stream","lastModified":1408875902000,"length":4752,"url":"https://earthquake.usgs.gov/product/cap/at00nat3ek/at/1408875813343/capalert.xml","sha256":"q9Utd1aJDZq5b06d5LcqaM5OKjWNbQvwqRfSrYnnlxQ="}}}],"dyfi":[{"indexid":"25428455","indexTime":1729210564396,"id":"urn:usgs-product:us:dyfi:nc72282711:1729210554204","type":"dyfi","code":"nc72282711","source":"us","updateTime":1729210554204,"status":"UPDATE","properties":{"depth":"11.12","eventsource":"nc","eventsourcecode":"72282711","eventtime":"2014-08-24T10:20:44.000Z","latitude":"38.2151667","longitude":"-122.3123333","magnitude":"6.0","maxmmi":"7.6","num-responses":"16684","numResp":"16684","original-signature":"MCwCFBRuyk3hGCJuHSl1RhfYQrfAk3eqAhRO/OVYF+22j2xeeISrcS7ucvS5pA==","original-signature-version":"v1","pdl-client-version":"Version
        2.7.10 2021-06-21"},"preferredWeight":53,"contents":{"dyfi_zip.geojson":{"contentType":"application/octet-stream","lastModified":1729210553000,"length":98244,"url":"https://earthquake.usgs.gov/product/dyfi/nc72282711/us/1729210554204/dyfi_zip.geojson","sha256":"koJRWbDRkYec1rH9za+WFWM/HpeSiUeK2CbRP0xVyVU="},"nc72282711_plot_atten.jpg":{"contentType":"image/jpeg","lastModified":1729210553000,"length":93592,"url":"https://earthquake.usgs.gov/product/dyfi/nc72282711/us/1729210554204/nc72282711_plot_atten.jpg","sha256":"d4TLTzYxnSGrT3OfTrKusReKMDtItyjpaiHUzEUMITY="},"dyfi_geo_10km.geojson":{"contentType":"application/octet-stream","lastModified":1729210553000,"length":103000,"url":"https://earthquake.usgs.gov/product/dyfi/nc72282711/us/1729210554204/dyfi_geo_10km.geojson","sha256":"iyO0H6y6ZHflSX0YpZnbM7gplIL1Ih9+zPCXs0pgH+Y="},"dyfi_geo_1km.geojson":{"contentType":"application/octet-stream","lastModified":1729210553000,"length":1023329,"url":"https://earthquake.usgs.gov/product/dyfi/nc72282711/us/1729210554204/dyfi_geo_1km.geojson","sha256":"TWpRkz3TWYq/FQ0BQ7KHWhsfyKd0U7e1VSUo6PbJDGA="},"cdi_geo.txt":{"contentType":"text/plain","lastModified":1729210553000,"length":303760,"url":"https://earthquake.usgs.gov/product/dyfi/nc72282711/us/1729210554204/cdi_geo.txt","sha256":"c/2CS6LZgBcV1OmPVNgHV0opnIsjRrUSyopYZQUJMO8="},"nc72282711_ciim_geo.ps":{"contentType":"application/postscript","lastModified":1729210553000,"length":335874,"url":"https://earthquake.usgs.gov/product/dyfi/nc72282711/us/1729210554204/nc72282711_ciim_geo.ps","sha256":"///5uFdTsqs2qso2j1W1QgLl/C9xPmV/gifXEk6oXSg="},"contents.xml":{"contentType":"application/xml","lastModified":1729210553000,"length":4226,"url":"https://earthquake.usgs.gov/product/dyfi/nc72282711/us/1729210554204/contents.xml","sha256":"+OSIFm4SNSQdK7/FJirL32tB6ZkpWiX5TYq9CPBA9z8="},"dyfi_plot_atten.json":{"contentType":"application/json","lastModified":1729210553000,"length":76663,"url":"https://earthquake.usgs.gov/product/dyfi/nc72282711/us/1729210554204/dyfi_plot_atten.json","sha256":"J8dF8O3rhSDJqmdZRHd1rscE6+wKgRzxS8F5P6WXuFs="},"nc72282711_plot_numresp.jpg":{"contentType":"image/jpeg","lastModified":1729210553000,"length":34590,"url":"https://earthquake.usgs.gov/product/dyfi/nc72282711/us/1729210554204/nc72282711_plot_numresp.jpg","sha256":"A+KYUUA8bDO6dBZew6xK5JPQl26nlgewyjYKRNv39T8="},"nc72282711_ciim_geo_imap.html":{"contentType":"text/html","lastModified":1729210553000,"length":797449,"url":"https://earthquake.usgs.gov/product/dyfi/nc72282711/us/1729210554204/nc72282711_ciim_geo_imap.html","sha256":"phPNCBRVFnR3noAxznYM4z2kqNYfmoS7SCJqfrC0BH0="},"cdi_geo.xml":{"contentType":"application/xml","lastModified":1729210553000,"length":1008573,"url":"https://earthquake.usgs.gov/product/dyfi/nc72282711/us/1729210554204/cdi_geo.xml","sha256":"4rHC9HeqXS+v0jA4DQuvn3yymt72H1LbMyVTJLJ5tWg="},"nc72282711_plot_atten.txt":{"contentType":"text/plain","lastModified":1729210553000,"length":38975,"url":"https://earthquake.usgs.gov/product/dyfi/nc72282711/us/1729210554204/nc72282711_plot_atten.txt","sha256":"FtASNkQCj+n2WYy2vf95jlDtkuGm/zxAvwPG4uyi5qI="},"dyfi_geo.geojson":{"contentType":"application/octet-stream","lastModified":1729210553000,"length":1023329,"url":"https://earthquake.usgs.gov/product/dyfi/nc72282711/us/1729210554204/dyfi_geo.geojson","sha256":"TWpRkz3TWYq/FQ0BQ7KHWhsfyKd0U7e1VSUo6PbJDGA="},"nc72282711_ciim_geo.jpg":{"contentType":"image/jpeg","lastModified":1729210553000,"length":154724,"url":"https://earthquake.usgs.gov/product/dyfi/nc72282711/us/1729210554204/nc72282711_ciim_geo.jpg","sha256":"eQRyaFjzFSQBeUguL1k5WBiDcfecRgICPs+RsE27U9c="},"cdi_zip.xml":{"contentType":"application/xml","lastModified":1729210553000,"length":136008,"url":"https://earthquake.usgs.gov/product/dyfi/nc72282711/us/1729210554204/cdi_zip.xml","sha256":"2M51Eyo5XePW8Flj+KOlw0IFVa/LaOhqgCIaeHl7dQw="},"dyfi_geo.kmz":{"contentType":"application/vnd.google-earth.kmz","lastModified":1729210553000,"length":174027,"url":"https://earthquake.usgs.gov/product/dyfi/nc72282711/us/1729210554204/dyfi_geo.kmz","sha256":"RMOJRTCdxEsHaApGhpa5V25AJwxNXNraSCvZ34btrQE="},"nc72282711_ciim_imap.html":{"contentType":"text/html","lastModified":1729210553000,"length":254292,"url":"https://earthquake.usgs.gov/product/dyfi/nc72282711/us/1729210554204/nc72282711_ciim_imap.html","sha256":"Z2JMU0HMSTTojBuINjeuw5i6shbE9Rpc5dNbmDScRSM="},"nc72282711_plot_numresp.txt":{"contentType":"text/plain","lastModified":1729210553000,"length":735998,"url":"https://earthquake.usgs.gov/product/dyfi/nc72282711/us/1729210554204/nc72282711_plot_numresp.txt","sha256":"lwK9unG7hQw62SJH2ls5e/Vd58ESoH1IDvG1ODF05Ig="},"dyfi_zip.kmz":{"contentType":"application/vnd.google-earth.kmz","lastModified":1729210553000,"length":220633,"url":"https://earthquake.usgs.gov/product/dyfi/nc72282711/us/1729210554204/dyfi_zip.kmz","sha256":"F+wg0Zt9yIdE25BtfbAiJuiOGO7w7SnbQb1tUSGSN6g="},"nc72282711_ciim_geo.pdf":{"contentType":"application/pdf","lastModified":1729210553000,"length":143178,"url":"https://earthquake.usgs.gov/product/dyfi/nc72282711/us/1729210554204/nc72282711_ciim_geo.pdf","sha256":"rf+wWZd8dLRAclT5ZXLMklTKuF5yuv8Yz+SYRiDs3cM="},"cdi_zip.txt":{"contentType":"text/plain","lastModified":1729210553000,"length":36586,"url":"https://earthquake.usgs.gov/product/dyfi/nc72282711/us/1729210554204/cdi_zip.txt","sha256":"luNmcaQhWFEPD02nG7yI70380Lpm/QsWKCYduzjXfo0="},"event_data.xml":{"contentType":"application/xml","lastModified":1729210553000,"length":3181,"url":"https://earthquake.usgs.gov/product/dyfi/nc72282711/us/1729210554204/event_data.xml","sha256":"gr6TMdBT9XXC4JSkAGgYTfvMH52HVwZAsnAlX6voht8="},"nc72282711_ciim.ps":{"contentType":"application/postscript","lastModified":1729210553000,"length":756095,"url":"https://earthquake.usgs.gov/product/dyfi/nc72282711/us/1729210554204/nc72282711_ciim.ps","sha256":"cEM3UtQ6JqYKo7mwokQ/MdC0N8KYGghjlCkqkNIcIpA="},"dyfi_plot_numresp.json":{"contentType":"application/json","lastModified":1729210553000,"length":1138536,"url":"https://earthquake.usgs.gov/product/dyfi/nc72282711/us/1729210554204/dyfi_plot_numresp.json","sha256":"/KfcbFORt1ecI08XZcKSQ473uW+OuHQ5RrNCwVbFYPU="},"nc72282711_ciim.pdf":{"contentType":"application/pdf","lastModified":1729210553000,"length":429960,"url":"https://earthquake.usgs.gov/product/dyfi/nc72282711/us/1729210554204/nc72282711_ciim.pdf","sha256":"rZOQy8IcsEHMSxbO+XzEKvX1zSP7cDdEXScAHHMVzAM="},"cdi_geo_10km.txt":{"contentType":"text/plain","lastModified":1729210553000,"length":34418,"url":"https://earthquake.usgs.gov/product/dyfi/nc72282711/us/1729210554204/cdi_geo_10km.txt","sha256":"GEV1apH9iY0J/8X3qtXcp0tFbKxJgNRER8kyeMtPZow="},"dyfi.kmz":{"contentType":"application/vnd.google-earth.kmz","lastModified":1729210553000,"length":1173,"url":"https://earthquake.usgs.gov/product/dyfi/nc72282711/us/1729210554204/dyfi.kmz","sha256":"CdyZn+NG9uM1DFQrMitfpEhJP6YAh+aHfVXbeKG+zcw="},"nc72282711_ciim.jpg":{"contentType":"image/jpeg","lastModified":1729210553000,"length":148011,"url":"https://earthquake.usgs.gov/product/dyfi/nc72282711/us/1729210554204/nc72282711_ciim.jpg","sha256":"y51cqEKYadD4hSi/+PVoog7B8RtYzchBHf2ICNl57IU="},"nc72282711_plot_atten.ps":{"contentType":"application/postscript","lastModified":1729210553000,"length":106202,"url":"https://earthquake.usgs.gov/product/dyfi/nc72282711/us/1729210554204/nc72282711_plot_atten.ps","sha256":"Kht1TI+5/rDanCIYW1dpqwXS1SdPP9KZEVng3F/fj+E="},"nc72282711_plot_numresp.ps":{"contentType":"application/postscript","lastModified":1729210553000,"length":31058,"url":"https://earthquake.usgs.gov/product/dyfi/nc72282711/us/1729210554204/nc72282711_plot_numresp.ps","sha256":"Xi3qehGNkG4lshwb7ICwNiCks09hcZQjIi1LJ9OBDG0="}}}],"earthquake-name":[{"indexid":"24382434","indexTime":1708775473814,"id":"urn:usgs-product:admin:earthquake-name:nc72282711-1708775432481:1708775471549","type":"earthquake-name","code":"nc72282711-1708775432481","source":"admin","updateTime":1708775471549,"status":"UPDATE","properties":{"eventsource":"nc","eventsourcecode":"72282711","original-signature":"A1WGN2dKHQZr1Yd5z4MHXxakpfadQH2AUOoG6wvz+V4Q4whh8nJ14Qy/ebGquLXi6w5bKc4XE03UxqD8HYJiV3/R6ygSUkmYevDfKVDw9GecgOBAmQOp+KJ/zqFLczkXs0MzWuznjdlBsHTj3Ci5dmD3NC+gcFrhL+NZVnesEDk1krJ1HnMB0532cD+sfmx2N1RMhs5jIzT5B5Q5N4Vx23bkLinXwzJ6yRGF2Dn+8Oc4Q5w0kQq9nhi3s1BAS3dD/BLT22WRQl4z5QlCxyxL23i3Z3aZ7sVfbIjWgquU0+8jtcRIArCes5eMEcY1uMQeMuK3QIgAxPuL5iLEWiQbFTLVnKOJFJxQh9n9h7mqN1g4vhCEwv8zt+l9TVZzdw6r+dLDmSkOnRZu4ao+4NlsYSjIow9rxf2+meMGOQoEipM52yLImSoQnd4Q0QWq+eTZIn1suY3ZN9k/usITSmUmMlOleAPiZmm/yOGhy/xbXtI7YQIAwuD9YJQhkk+tvy30ETcrbENTGtXU6VY38HWS3mEWiMur6zT6T3gN3MoJuICWOuyWvR9cIFBMJJfrUtSdTHqJCrz6ZxwIhHyTOKgb/Q7LU3gtBDoe8/iANXPCbCW/PbHS8f1XFFNdRzjkG2ZNuU2eRAm9t9njsy2U27D8Tc85eForNQwZ8MEAzLSm9XI=","original-signature-version":"v1","pdl-client-version":"Version
        2.9.1 2023-05-15","senderemail":"presgrave@usgs.gov","title":"The 2014 South
        Napa, California Earthquake"},"preferredWeight":1,"contents":[]}],"finite-fault":[{"indexid":"9488080","indexTime":1609371953934,"id":"urn:usgs-product:us:finite-fault:nc72282711:1409669093313","type":"finite-fault","code":"nc72282711","source":"us","updateTime":1409669093313,"status":"UPDATE","properties":{"eventsource":"nc","eventsourcecode":"72282711","original-signature":"MC0CFDqTfjVfTiV6ADdNYcGV/VYDITFnAhUAhH2KkUycZg87QnItjA8DnMSQYew=","original-signature-version":"v1"},"preferredWeight":3,"contents":{"basemap.png":{"contentType":"application/octet-stream","lastModified":1409668208000,"length":421779,"url":"https://earthquake.usgs.gov/product/finite-fault/nc72282711/us/1409669093313/basemap.png","sha256":"hw994yDk3iGgsz6pQXWBIN++F3QXt+GCKjljH8NxjuU="},"web2/72282711_seis_base2.png":{"contentType":"application/octet-stream","lastModified":1409668147000,"length":125311,"url":"https://earthquake.usgs.gov/product/finite-fault/nc72282711/us/1409669093313/web2/72282711_seis_base2.png","sha256":"eRwzmQyOHHn2G8WjB[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://earthquake.usgs.gov/product/shakemap/nc72282711/atlas/1624995941193/download/rupture.json
  response:
    body:
      string: '{"type": "FeatureCollection", "metadata": {"reference": "Source: Jack
        Boatwright''s interpolation of Doug Dreger''s finite fault", "id": "nc72282711",
        "network": "California Integrated Seismic Network: Northern California Seismic
        System (UC Berkeley, USGS Menlo Park, and Partners)", "netid": "nc", "productcode":
        "nc72282711", "time": "2014-08-24T10:20:44.000000Z", "lat": 38.2152, "lon":
        -122.3123, "depth": 11.1, "mag": 6.0, "locstring": "South Napa", "mech": "ALL",
        "rake": 0.0}, "features": [{"type": "Feature", "properties": {"rupture type":
        "rupture extent"}, "geometry": {"type": "MultiPolygon", "coordinates": [[[[-122.313,
        38.22, 2.0], [-122.333, 38.31, 2.0], [-122.333, 38.31, 11.0], [-122.313, 38.22,
        11.0], [-122.313, 38.22, 2.0]]]]}}]}'
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"2f13e82b198314ef11d41eed73128bc5-gzip"'
      Last-Modified:
      - Tue, 29 Jun 2021 19:46:25 GMT
      x-amz-meta-modified:
      - '2021-06-29T17:29:29.000Z'
      x-amz-meta-sha256:
      - VQEiFXRVcDm9YeAZA55wDTNIiTleVyXzDWy5yD3IeUQ=
      x-amz-version-id:
      - 8fKqVUgKDVVaiZwgN3Pc4jOwnfNv.mn5
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: http://geofon.gfz-potsdam.de/fdsnws/dataselect/1/application.wadl
  response:
    body:
      string: !!binary |
        H4sIAAAAAAAEA91VTY+bMBA9k1+B6B2Tjz00IntYqeqlq1baHHp148ni1hjWHkLy7zs2hI8s2apR
        q0o9oMjMTN7zmzdDystSyR1HWejwmCttN1GGWK4Zq7lQsYBD/J0feKwB2SJJ3rNkEc2CwKeuj1b0
        6XUd18u4MM8ub86+Pn562mWQ8+h+FqQGbFGZHdjwG7ewidheWF1bJjjSWcEO2dwl9plhyTHbRC8V
        mJOPBGkOmBUizAzsN9E7H/n4YRsxVzcZ/fL5qQ2n7MzgKgivMPvbQK8xNM9JDk/UX8MLUBbaQnN0
        55K4g8amSTkIybenkqoQjshKxaVuNQj8NfvqlDWS+Tu/qcABjCULjO/fcHMS/0tqA4fGzpN/jOPg
        jxn5+Xc17C1lSZ6zOXvNQknD0ZnUt8AAnS16NdOSG56HTb5FbhBlDlFo8aSot43vQ/SNpjlb06TA
        1mW0dh+Wgxa3F9Nk14X5cR3ZopH6eQqXaLvFcUupKpqlc0vtLuNag7ql9KXiSuLpslTAnlcKN9HD
        2epF6VfigauKuvHQmWP8/vGsCvPteN3YfWFyjpdwfVdbbcOOQC61tABimkcXbU1wDVYXbrFeh5Wa
        OHWYi2Q1DecCDVKQji++6iJpz8FNRGdwt/L9JiJHc6zou0KfhXZ2r6+04UwetIjdZyLOvSCeyHjB
        TWGswlWS0DOnZ0kPnef0O1+Fd/T+Lln+ksPlWh1hDlbqeOT9Cu9nvtvoUxz/Kx1SNmja/ewnmu1Y
        LlIIAAA=
    headers:
      Content-Type:
      - application/xml
      ETag:
      - W/"5abd1708-852"
      Last-Modified:
      - Thu, 29 Mar 2018 16:40:40 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: http://ws.ipgp.fr/fdsnws/dataselect/1/application.wadl
  response:
    body:
      string: !!binary |
        H4sIAAAAAAAAA+VUTY/aMBA9w6+w0nPjBNhDUcJKlapedtVK7KFXbzxs3MZO1p4Q+Pe1nUDCEkQX
        taceDJqPN+/FnpnkficLsgVtRKnSIA6j4H41TVhVFSJjaJ3EJiiz3BmRBjlitaS0aZqwmYelfqGz
        KIrpj8eHdZaDZB+FMshUBsF0MrGIpfHuh7It1RYwpxXW9bMUxtHThvHC/4Q7w32Jjppfpz6m96mu
        EIdt+JNtWagAHeITjWbBajpJNJiy1hkY8swMpAHdcKMaQzlDaxeQIY1dYp9JKoZ5GrzWoPc+Mkkk
        YF5ykmvYpMEHH/n65SmgF6Pfv627cEIPdS+SsBrzf03UvfwpjWLS3ogj8G4PqkploDWdXVkXKGw7
        RAIX7GlfWRDCDmlVMKE6cS1/j05oS3Jd2qAHQ/eWf03joDC1LfNeob1hnHWmhwjePeBBndVibYNt
        3YppJrt8Oy0aUUgIiMF9AYf2IuiV2s5f2oaEJ5dBz+Gg+O1gOxFNqX9dBhvUQr2MQU17qbdAi24X
        3ILNcqYUFLdAX2tWCNy/hXLYsLrANPh8aKOy8u2yZUUNzk1H/Y8HDupJzvk2pZYMryrtBUihhAHg
        4zqO0Su0qnT76zKtUDjgnEWLcToXGP/wxTEy0OAm4tjgx0Ekrktq46pF3ez+2UxuFQ/dNg5l/8mn
        wznGsSCLKLIntmduj7Vj+x8vyJ3130Xzqxre7q4TzsE6OB15v2n7mffmf3EPCR2IXU1/AzY3H7JK
        CAAA
    headers:
      Content-Type:
      - application/xml
      Last-Modified:
      - Fri, 28 Apr 2023 09:57:52 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: http://service.iris.edu/fdsnws/dataselect/1/application.wadl
  response:
    body:
      string: !!binary |
        H4sIAAAAAAAAAO1Yy3LaMBRdh6/QeJmZWiSrNoPJJJOmqz7S0A8Q1gWrlSVHujbw95UfBOPaBpIw
        02lZSlfn6L50z9ij62UsSQbGCq0C78IfegRUqLlQ88D7Mbl/994jFpniTGoFgbcC612PB4SMWJJI
        ETJ0QOJIlA28CDG5onTBuPQ5ZP5PljFfAdLL4fADHV56OdBBuQ4JCpSO7/7u8QvhDJkFCSGSBUyJ
        BZOJEEjuDa0gc8PimBm7XhuwOjUhWDJ10OerK6gvjLA+8JTOuFULSzc30AtaubHFQxKGUeDVbYU9
        Bow0J4rF7pJPHyceETzwjNbYOLlmS7Sy8KepMifuBCgssxYDF2yyShwzwhJphLFcB7yFo+28I1p6
        19hthPSUglm1Odse2vr42VlF5jYsrtduJ2GuFBXKdYZBFDHkTbLK61nCSQ4TBhwfmtRZsYhyaa9c
        ISCPsZUOFH87Mtd3C21+Nck2aIvGdXkn3pZVejFe6rCVYF98GDGlQL4U/pQyKXC1C044zFgqMfBu
        W3qk2TI6KRo3YzJ1LHdtzdoP+X445OFwyOfDIbfdkBEt8tqR51goEaexBDXHqDPbXKdTCbVsD8vZ
        1tE5au7enFayu3xTrSUwVWOcMWlrryEfGtXTbQ2qf1TtHlaJZEL1JK0bXhMOminu5yPajy0A76Lr
        GoClrW0IFpatAfft62M14RJt8aFjKFau9ySuN7Rzet4Xw/9bjwJRqNIeYsVS95IOE6ybEvKvitYr
        NeskWSfJOknWXz4iC8suybppH42V+72ydRKuYwpX9Qm9v2x1A46f1eOloVYSP/8NsH8+9kC+NjH1
        flm2f2q/XXaae5u1HQ9GtObLePAbqy5TIYYRAAA=
    headers:
      Content-Type:
      - application/xml
      content-disposition:
      - inline; filename=fdsnws-dataselect_2024-11-11T22:40:28Z.xml
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
    method: GET
    uri: https://service.ncedc.org/fdsnws/dataselect/1/application.wadl
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<application
        xmlns=\"http://wadl.dev.java.net/2009/02\">\n  <doc title=\"FDSN dataselect
        web service 1.1\"/>\n  <grammars/>\n  <resources base=\"https://service.ncedc.org/fdsnws/dataselect/1/\">\n
        \   <resource path=\"/\">\n      <method name=\"GET\" id=\"root\">\n        <response>\n
        \         <representation mediaType=\"text/html\"/>\n        </response>\n
        \     </method>\n      <resource path=\"/query\">\n        <method name=\"GET\"
        id=\"query\">\n          <request>\n            <param name=\"starttime\"
        style=\"query\" required=\"true\" type=\"xs:date\"/>\n            <doc xml:lang=\"english\"
        title=\"limit to channels that are active on or after the specified start
        time\">\n              Examples: starttime=2012-11-29 or 2012-11-29T00:00:00
        or 2012-11-29T00:00:00.000 </doc>\n            <param name=\"endtime\" style=\"query\"
        required=\"true\" type=\"xs:date\"/>\n            <doc xml:lang=\"english\"
        title=\"limit to channels t[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://ws.resif.fr/fdsnws/dataselect/1/application.wadl
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<application
        xmlns=\"http://wadl.dev.java.net/2009/02\">\n  <doc title=\"FDSN dataselect
        web service 1.1\"/>\n  <grammars/>\n  <resources base=\"/fdsnws/dataselect/1/\">\n
        \   <resource path=\"query\">\n      <method name=\"GET\" id=\"query\">\n
        \       <request>\n          <param name=\"starttime\" style=\"query\" required=\"true\"
        type=\"xs:date\"/>\n          <param name=\"endtime\" style=\"query\" required=\"true\"
        type=\"xs:date\"/>\n          <param name=\"network\" style=\"query\"  type=\"xs:string\"/>\n
        \         <param name=\"station\" style=\"query\"  type=\"xs:string\"/>\n
        \         <param name=\"location\" style=\"query\" type=\"xs:string\"/>\n
        \         <param name=\"channel\" style=\"query\" type=\"xs:string\"/>\n          <param
        name=\"quality\" style=\"query\" type=\"xs:string\" default=\"B\">\n            <option
        value=\"D\"/>\n            <option value=\"R\"/>\n            <option value=\"Q\"/>\n
        \           <option value=\"M\"/>\n            <option value=\"B\"/>\n          </param>\n
        \         <param name=\"minimumlength\" style=\"query\" type=\"xs:double\"
        default=\"0.0\"/>\n          <param name=\"longestonly\" style=\"query\" type=\"xs:boolean\"
        default=\"false\"/>\n        </request>\n        <response>\n          <representation
        mediaType=\"text/plain\"/>\n          <representation mediaType[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.franceseisme.fr//fdsnws/event/1/catalogs
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<Catalogs>\n  <total>1</total>\n
        \ <Catalog>BCSF-RENASS</Catalog>\n</Catalogs>\n"
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: http://service.scedc.caltech.edu/fdsnws/dataselect/1/application.wadl
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<application
        xmlns=\"http://wadl.dev.java.net/2009/02\">\n    <doc title=\"FDSN dataselect
        web service 1.0\"/>\n    <grammars/>\n    <resources base=\"http://service.scedc.caltech.edu/fdsnws/dataselect/1/\">\n
        \       <resource path=\"/\">\n [...]
- request:
    body: null
    headers:
    method: GET
    uri: http://geofon.gfz-potsdam.de/fdsnws/station/1/query?starttime=2014-08-24T10%3A20%3A14.070000&endtime=2014-08-24T10%3A23%3A45.070000&network=NC%2CUS&station=J016%2CCRPB&channel=BH%3F%2CHH%3F%2CBN%3F%2CHN%3F&level=channel&latitude=38.2151667&longitude=-122.3123333&minradius=0.0&maxradius=7.1945728473498445&format=text
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/plain
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: GET
    uri: http://ws.ipgp.fr/fdsnws/station/1/query?starttime=2014-08-24T10%3A20%3A14.070000&endtime=2014-08-24T10%3A23%3A45.070000&network=NC%2CUS&station=J016%2CCRPB&channel=BH%3F%2CHH%3F%2CBN%3F%2CHN%3F&level=channel&latitude=38.2151667&longitude=-122.3123333&minradius=0.0&maxradius=7.1945728473498445&format=text
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/plain
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: GET
    uri: http://service.iris.edu/fdsnws/station/1/query?starttime=2014-08-24T10%3A20%3A14.070000&endtime=2014-08-24T10%3A23%3A45.070000&network=NC%2CUS&station=J016%2CCRPB&channel=BH%3F%2CHH%3F%2CBN%3F%2CHN%3F&level=channel&latitude=38.2151667&longitude=-122.3123333&minradius=0.0&maxradius=7.1945728473498445&matchtimeseries=true&format=text
  response:
    body:
      string: '#Network | Station | Location | Channel | Latitude | Longitude | Elevation
        | Depth | Azimuth | Dip | SensorDescription | Scale | ScaleFreq | ScaleUnits
        | SampleRate | StartTime | EndTime

        NC|J016|01|HNE|37.457443|-122.251671|89.0|0.0|90.0|0.0|GEOSIG-AC-63,Accelerometer,GEOSIG|256616.0|1.0|M/S**2|200.0|2009-05-12T23:10:00.0000|2018-01-05T22:15:00.0000

        NC|J016|01|HNN|37.457443|-122.251671|89.0|0.0|0.0|0.0|GEOSIG-AC-63,Accelerometer,GEOSIG|256616.0|1.0|M/S**2|200.0|2009-05-12T23:10:00.0000|2018-01-05T22:15:00.0000

        NC|J016|01|HNZ|37.457443|-122.251671|89.0|0.0|0.0|-90.0|GEOSIG-AC-63,Accelerometer,GEOSIG|256616.0|1.0|M/S**2|200.0|2009-05-12T23:10:00.0000|2018-01-05T22:15:00.0000

        '
    headers:
      Content-Disposition:
      - inline; filename=fdsn-station_2024-11-11T22:40:30.9940.txt
      Content-Type:
      - text/plain
    status:
      code: 200
      message: ''
- request:
    body: 'NC J016 01 HNE 2014-08-24T10:20:14.070000 2014-08-24T10:23:45.070000

      NC J016 01 HNN 2014-08-24T10:20:14.070000 2014-08-24T10:23:45.070000

      NC J016 01 HNZ 2014-08-24T10:20:14.070000 2014-08-24T10:23:45.070000'
    headers:
      Content-Type:
      - text/plain
    method: POST
    uri: http://service.iris.edu/fdsnws/dataselect/1/query
  response:
    body:
      string: !!binary |
        MDAyNjI0TSBKMDE2IDAxSE5FTkMH3gDsChQOAAK8AUUAyAABACAAAQAAAAAAQAAwA+gAAAoBC[...]
- request:
    body: 'level=response

      NC J016 01 HNE 2014-08-24T10:20:14.070000 2014-08-24T10:23:45.070000

      NC J016 01 HNN 2014-08-24T10:20:14.070000 2014-08-24T10:23:45.070000

      NC J016 01 HNZ 2014-08-24T10:20:14.070000 2014-08-24T10:23:45.070000'
    headers:
      Content-Type:
      - text/plain
    method: POST
    uri: http://service.iris.edu/fdsnws/station/1/query
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"ISO-8859-1\"?>\n\n <FDSNStationXML
        xmlns=\"http://www.fdsn.org/xml/station/1\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"
        xmlns:iris=\"http://www.fdsn.org/xml/station/1/iris\" xsi:schemaLocation=\"http://www.fdsn.org/xml/station/1
        http://www.fdsn.org/xml/station/fdsn-station-1.1.xsd\" schemaVersion=\"1.1\">\n
        \ <Source>IRIS-DMC</Source>\n  <Sender>IRIS-DMC</Sender>\n  <Module>IRIS WEB
        SERVICE: fdsnws-station | version: 1.1.52</Module>\n  <ModuleURI></ModuleURI>\n
        \ <Created>2024-11-11T22:40:32.8952</Created>\n  <Network code=\"NC\" startDate=\"1966-01-01T00:00:00.0000\"
        restrictedStatus=\"open\">\n   <Description>USGS Northern California Network
        (NCSN)</Description>\n   <Identifier type=\"DOI\">10.7914/SN/NC\n   </Identifier>\n
        \  <TotalNumberStations>1204</TotalNumberStations>\n   <SelectedNumberStations>1</SelectedNumberStations>\n
        \  <Station code=\"J016\" startDate=\"2009-05-12T23:10:00.0000\" endDate=\"2018-01-05T22:15:00.0000\"
        restrictedStatus=\"open\" iris:alternateNetworkCodes=\"_NETQUAKES,.UNRESTRICTED,_US-REGIONAL\">\n
        \   <Latitude>37.457443</Latitude>\n    <Longitude>-122.251671</Longitude>\n
        \   <Elevation>89.0</Elevation>\n    <Site>\n     <Name>Sony Hill Redwood
        City</Name>\n    </Site>\n    <CreationDate>2009-05-12T23:10:00.0000</CreationDate>\n
        \   <TotalNumberChannels>3</TotalNumberChannels>\n    <SelectedNumberChannels>3</SelectedNumberChannels>\n
        \   <Channel code=\"HNE\" locationCode=\"01\" startDate=\"2009-05-12T23:10:00.0000\"
        endDate=\"2018-01-05T22:15:00.0000\" restrictedStatus=\"open\">\n     <Latitude>37.457443</Latitude>\n
        \    <Longitude>-122.251671</Longitude>\n     <Elevation>89</Elevation>\n
        \    <Depth>0</Depth>\n     <Azimuth>90</Azimuth>\n     <Dip>0</Dip>\n     <Type>GEOPHYSICAL</Type>\n
        \    <Type>TRIGGERED</Type>\n     <SampleRate>2E02</SampleRate>\n     <ClockDrift>0E00</ClockDrift>\n
        \    <Sensor>\n      <Description>GEOSIG-AC-63,Accelerometer,GEOSIG</Description>\n
        \    </Sensor>\n     <Response>\n     <InstrumentSensitivity>\n       <Value>256616.0</Value>\n
        \      <Frequency>1.0</Frequency>\n       <InputUnits>\n         <Name>M/S**2</Name>\n
        \        <Description>Acceleration in Meters Per Second Per Second</Description>\n
        \      </InputUnits>\n       <OutputUnits>\n         <Name>COUNTS</Name>\n
        \        <Description>Digital Counts</Description>\n       </OutputUnits>\n
        \    </InstrumentSensitivity>\n      <Stage number=\"1\">\n      <PolesZeros>\n
        \       <InputUnits>\n          <Name>M/S**2</Name>\n          <Description>Acceleration
        in Meters Per Second Per Second</Description>\n        </InputUnits>\n        <OutputUnits>\n
        \         <Name>V</Name>\n          <Description>Volts</Description>\n        </OutputUnits>\n
        \       <PzTransferFunctionType>LAPLACE (RADIANS/SECOND)</PzTransferFunctionType>\n
        \       <NormalizationFactor>394783.0</NormalizationFactor>\n        <NormalizationFrequency>1.0</NormalizationFrequency>\n
        \       <Pole number=\"0\">\n          <Real>-439.823</Real>\n          <Imaginary>-448.709</Imaginary>\n
        \       </Pole>\n        <Pole number=\"1\">\n          <Real>-439.823</Real>\n
        \         <Imaginary>448.709</Imaginary>\n        </Pole>\n      </PolesZeros>\n
        \     <StageGain>\n        <Value>0.3399</Value>\n        <Frequency>1.0</Frequency>\n
[...]
