interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://earthquake.usgs.gov/earthquakes/feed/v1.0/detail/us6000hyun.geojson
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Last-Modified:
      - Sat, 09 Nov 2024 22:01:05 GMT
      Location:
      - /fdsnws/event/1/query?eventid=us6000hyun&format=geojson
    status:
      code: 302
      message: Moved Temporarily
- request:
    body: null
    headers:
    method: GET
    uri: https://earthquake.usgs.gov/fdsnws/event/1/query?eventid=us6000hyun&format=geojson
  response:
    body:
      string: '{"type":"Feature","properties":{"mag":4.2,"place":"61 km WSW of Yonakuni,
        Japan","time":1656226986271,"updated":1662239001040,"tz":null,"url":"https://earthquake.usgs.gov/earthquakes/eventpage/us6000hyun","felt":null,"cdi":null,"mmi":null,"alert":null,"status":"reviewed","tsunami":0,"sig":271,"net":"us","code":"6000hyun","ids":",us6000hyun,","sources":",us,","types":",origin,phase-data,","nst":30,"dmin":0.565,"rms":0.76,"gap":62,"magType":"mb","type":"earthquake","title":"M
        4.2 - 61 km WSW of Yonakuni, Japan","products":{"origin":[{"indexid":"21576200","indexTime":1662239205000,"id":"urn:usgs-product:us:origin:us6000hyun:1662239001040","type":"origin","code":"us6000hyun","source":"us","updateTime":1662239001040,"status":"UPDATE","properties":{"azimuthal-gap":"62","depth":"70.28","depth-type":"from
        location","error-ellipse-azimuth":"49","error-ellipse-intermediate":"7700","error-ellipse-major":"10600","error-ellipse-minor":"2400","error-ellipse-plunge":"63","error-ellipse-rotation":"101","evaluation-status":"reviewed","event-type":"earthquake","eventParametersPublicID":"quakeml:us.anss.org/eventparameters/6000hyun/1662239070","eventsource":"us","eventsourcecode":"6000hyun","eventtime":"2022-06-26T07:03:06.271Z","eventtime-error":"1.54","horizontal-error":"4.1","latitude":"24.2618","latitude-error":"0.0432","longitude":"122.4332","longitude-error":"0.0365","magnitude":"4.2","magnitude-error":"0.159","magnitude-num-stations-used":"11","magnitude-source":"us","magnitude-type":"mb","minimum-distance":"0.565","num-phases-used":"36","num-stations-used":"30","origin-source":"us","pdl-client-version":"Version
        2.7.10 2021-06-21","quakeml-magnitude-publicid":"quakeml:us.anss.org/magnitude/6000hyun/mb","quakeml-origin-publicid":"quakeml:us.anss.org/origin/6000hyun","quakeml-publicid":"quakeml:us.anss.org/event/6000hyun","review-status":"reviewed","standard-error":"0.76","title":"61
        km WSW of Yonakuni, Japan","vertical-error":"6.3"},"preferredWeight":158,"contents":{"contents.xml":{"contentType":"application/xml","lastModified":1662239202000,"length":195,"url":"https://earthquake.usgs.gov/product/origin/us6000hyun/us/1662239001040/contents.xml","sha256":"ABhLiaqdYWmIak24eD/csBAWouBShhatD9bUzLNEZFk="},"quakeml.xml":{"contentType":"application/xml","lastModified":1662239001000,"length":3798,"url":"https://earthquake.usgs.gov/product/origin/us6000hyun/us/1662239001040/quakeml.xml","sha256":"07ZRYtEw1O6NAUlRTJJcQlggI+E4iWLAnS6aYzVxWeg="}}}],"phase-data":[{"indexid":"21576202","indexTime":1662239209894,"id":"urn:usgs-product:us:phase-data:us6000hyun:1662239001040","type":"phase-data","code":"us6000hyun","source":"us","updateTime":1662239001040,"status":"UPDATE","properties":{"azimuthal-gap":"62","depth":"70.28","depth-type":"from
        location","error-ellipse-azimuth":"49","error-ellipse-intermediate":"7700","error-ellipse-major":"10600","error-ellipse-minor":"2400","error-ellipse-plunge":"63","error-ellipse-rotation":"101","evaluation-status[...]
[...]
